<!DOCTYPE html>
<html th:replace="~{layout/auditing :: layout(_,~{},~{::scripts},~{::content},~{})}">


<content>
	<div class="float-end" th:text="${facility_code}"></div>
	<div class="col-md-12 py-3 my-3 mx-auto p-1 rounded box-shadow" style="background-color: #92c7f2;">
		<form action="#" th:action="@{/auditing/edit/{id}(id=${selected.audit_uuid})}" th:object="${selected}"
			method="POST" class="needs-validation" novalidate>
			<div class="row mb-3">
				<div class="col-md-6 mb-3">
					<div class="bg-light p-2 rounded">
						<div class="nav nav-pills mb-0 border-bottom small nav-justified" id="v-pills-tab"
							role="tablist" aria-orientation="horizontal">

							<button class="nav-link active" id="v-pills-biodata-tab" data-bs-toggle="pill"
								data-bs-target="#v-pills-biodata" type="button" role="tab"
								aria-controls="v-pills-biodata" aria-selected="true">Profile</button>

							<button class="nav-link" id="v-pills-pregnancy-tab" data-bs-toggle="pill"
								data-bs-target="#v-pills-pregnancy" type="button" role="tab"
								aria-controls="v-pills-pregnancy" aria-selected="false">Pregnancy</button>

							<button class="nav-link" id="v-pills-referral-tab" data-bs-toggle="pill"
								data-bs-target="#v-pills-referral" type="button" role="tab"
								aria-controls="v-pills-referral" aria-selected="false">Referral</button>

							<button class="nav-link" id="v-pills-delivery-tab" data-bs-toggle="pill"
								data-bs-target="#v-pills-delivery" type="button" role="tab"
								aria-controls="v-pills-delivery" aria-selected="false">Delivery</button>

							<button class="nav-link" id="v-pills-antenatal-tab" data-bs-toggle="pill"
								data-bs-target="#v-pills-antenatal" type="button" role="tab"
								aria-controls="v-pills-antenatal" aria-selected="false">Antenatal</button>

							<button class="nav-link" id="v-pills-labour-tab" data-bs-toggle="pill"
								data-bs-target="#v-pills-labour" type="button" role="tab" aria-controls="v-pills-labour"
								aria-selected="false">Labour</button>

							<button class="nav-link" id="v-pills-birth-tab" data-bs-toggle="pill"
								data-bs-target="#v-pills-birth" type="button" role="tab" aria-controls="v-pills-birth"
								aria-selected="false">Birth</button>

							<button class="nav-link" id="v-pills-fetalheart-tab" data-bs-toggle="pill"
								data-bs-target="#v-pills-fetalheart" type="button" role="tab"
								aria-controls="v-pills-fetalheart" aria-selected="false">Fetalheart</button>

							<button class="nav-link" id="v-pills-notes-tab" data-bs-toggle="pill"
								data-bs-target="#v-pills-notes" type="button" role="tab" aria-controls="v-pills-notes"
								aria-selected="false">Notes</button>

						</div>
						<div class="tab-content" id="v-pills-tabContent">
							<div class="tab-pane fade show active" id="v-pills-biodata" role="tabpanel"
								aria-labelledby="v-pills-biodata-tab">
								<div class="overflow-auto" style="height: 400px;">
									<table class="table">
										<thead>
											<tr>
												<th colspan="2" th:text="#{title.biodata}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${casebiodata}">
												<td th:utext="${item.question}" class="text-secondary"></td>
												<td th:utext="${item.answer}" style="width: 50%;"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-pregnancy" role="tabpanel"
								aria-labelledby="v-pills-pregnancy-tab">
								<div class="overflow-auto" style="height: 400px;">
									<table class="table">
										<thead>
											<tr>
												<th colspan="2" th:text="#{title.pregnancy}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${casepregnancy}">
												<td th:utext="${item.question}" class="text-secondary"></td>
												<td th:utext="${item.answer}" style="width: 50%;"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-referral" role="tabpanel"
								aria-labelledby="v-pills-referral-tab">
								<div class="overflow-auto" style="height: 400px;">
									<table class="table">
										<thead>
											<tr>
												<th colspan="2" th:text="#{title.referral}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${casereferral}">
												<td th:utext="${item.question}" class="text-secondary"></td>
												<td th:utext="${item.answer}" style="width: 50%;"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-delivery" role="tabpanel"
								aria-labelledby="v-pills-delivery-tab">
								<div class="overflow-auto" style="height: 400px;">
									<table class="table">
										<thead>
											<tr>
												<th colspan="2" th:text="#{title.delivery}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${casedelivery}">
												<td th:utext="${item.question}" class="text-secondary"></td>
												<td th:utext="${item.answer}" style="width: 50%;"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-antenatal" role="tabpanel"
								aria-labelledby="v-pills-antenatal-tab">
								<div class="overflow-auto" style="height: 400px;">
									<table class="table">
										<thead>
											<tr>
												<th colspan="2" th:text="#{title.antenatal}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${caseantenatal}">
												<td th:utext="${item.question}" class="text-secondary"></td>
												<td th:utext="${item.answer}" style="width: 50%;"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-labour" role="tabpanel"
								aria-labelledby="v-pills-labour-tab">
								<div class="overflow-auto" style="height: 400px;">
									<table class="table">
										<thead>
											<tr>
												<th colspan="2" th:text="#{title.labour}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${caselabour}">
												<td th:utext="${item.question}" class="text-secondary"></td>
												<td th:utext="${item.answer}" style="width: 50%;"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-birth" role="tabpanel"
								aria-labelledby="v-pills-birth-tab">
								<div class="overflow-auto" style="height: 400px;">
									<table class="table">
										<thead>
											<tr>
												<th colspan="2" th:text="#{title.birth}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${casebirth}">
												<td th:utext="${item.question}" class="text-secondary"></td>
												<td th:utext="${item.answer}" style="width: 50%;"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-fetalheart" role="tabpanel"
								aria-labelledby="v-pills-fetalheart-tab">
								<div class="overflow-auto" style="height: 400px;">
									<table class="table">
										<thead>
											<tr>
												<th colspan="2" th:text="#{title.birth}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${casefetalheart}">
												<td th:utext="${item.question}" class="text-secondary"></td>
												<td th:utext="${item.answer}" style="width: 50%;"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-notes" role="tabpanel"
								aria-labelledby="v-pills-notes-tab">
								<div class="overflow-auto" style="height: 400px;">
									<table class="table">
										<thead>
											<tr>
												<th colspan="2" th:text="#{title.notes}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${casenotes}">
												<td th:utext="${item.question}" class="text-secondary"></td>
												<td th:utext="${item.answer}" style="width: 50%;"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row mb-3">
						<div class="col-auto">
							<label class="text-secondary" th:text=#{label.date.audit}></label>
							<i th:text="${#dates.format(selected.audit_case.audit_date,'dd-MMM-yyyy')}"></i>
						</div>
						<div class="col-auto">
							<label class="text-secondary" th:text=#{label.case.type}></label>
							<i
								th:text="${selected.audit_case.case_death == 1}?#{label.still.birth}:#{label.neonatal.death}"></i>
						</div>
					</div>
					<div th:insert="fragments/review-case :: case_review"></div>
				</div>
			</div>
		</form>
	</div>
</content>

<scripts>
	<script>
		(function () {
			'use strict';
			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');

				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');

					}, false);
				});
			}, false);
		})();
	</script>
	<script>
		$('#audit_death').click(
			function () {
				$.getJSON("http://localhost:5000/auditing/icdcodes", {
					audit_death: $(this).val(),
					ajax: 'true'
				}, function (data) {
					var html = '<option value="">--select--</option>';
					var len = data.length;
					for (var i = 0; i < len; i++) {
						html += '<option value="' + data[i].icd_code + '">'
							+ data[i].icd_code + " : " + data[i].icd_desc + '</option>';
					}
					html += '</option>';
					$('#audit_icd10').html(html);
				});
			});
	</script>
	<script>
		$('#audit_death').click(
			function () {
				$.getJSON("http://localhost:5000/auditing/pmcodes", {
					audit_death: $(this).val(),
					ajax: 'true'
				}, function (data) {
					var html = '<option value="">--select--</option>';
					var len = data.length;
					for (var i = 0; i < len; i++) {
						html += '<option value="' + data[i].pm_code + '">'
							+ data[i].pm_code + " : " + data[i].pm_desc + '</option>';
					}
					html += '</option>';
					$('#audit_icdpm').html(html);
				});
			});
	</script>
	<script>
		$('#audit_icd10').change(
			function () {
				$.getJSON("http://localhost:5000/auditing/pmselect", {
					audit_death: $('#audit_death').val(),
					audit_icd10: $(this).val(),
					ajax: 'true'
				}, function (data) {
					document.getElementById("audit_icdpm").value = data.pm_code;
				});
			});
	</script>
</scripts>

</html>