<!DOCTYPE html>
<html th:replace="~{layout/auditing :: layout(_,~{},~{},~{::content},~{::subnav})}">
<subnav>
	<div class="m-1 small"></div>
</subnav>

<content>
	<hr />
	<div>
		<div class="table-responsive" th:unless="${#lists.isEmpty(items)}">
			<table class="table table-hover table-bordered table-sm table-responsive-sm small">
				<thead>
					<tr class="table-dark">
						<th th:text="#{th.case.new}"></th>
						<th th:text="#{th.case.type}"></th>
						<th th:text="#{th.date.entered}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${items}" th:class="'table-danger'">
						<th><a href="#" class="btn btn-sm btn-primary"
								th:href="@{/auditing/edit/{id}(id=${item.audit_uuid})}" th:text="#{audit.audit}"></a>
						</th>
						<td th:text="${item.case_death == 1}?#{label.still.birth}:#{label.neonatal.death}"></td>
						<td th:text="${item.audit_date}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<h4 class="text-secondary text-center mb-3" th:if="${#lists.isEmpty(items)}" th:text="#{no.audit.cases}"></h4>
		<h4 class="text-info text-center mb-3" th:if="${#lists.isEmpty(items)}" th:text="#{alert.new.audit}"></h4>
	</div>
	<div class="border-bottom p-2 mb-3" th:unless="${done}" hidden=true>
		<form action="#" th:action="@{/auditing}" method="POST">
			<div class="text-center">
				<button class="btn btn-info btn-lg" type="submit" th:utext="#{load.cases.button}" disabled></button>
			</div>
		</form>
	</div>
	<div class="mb-5">
		<div class="table-responsive" th:unless="${#lists.isEmpty(items1)}">
			<table class="table table-hover table-sm table-responsive-sm small mb-0">
				<thead class="table-light">
					<tr>
						<th th:text="#{th.audit.coded}"></th>
						<th th:text="#{th.audit.death}"></th>
						<th th:text="#{th.audit.icdpm}"></th>
						<th th:text="#{th.audit.delay1}"></th>
						<th th:text="#{th.audit.delay2}"></th>
						<th th:text="#{th.audit.delay3a}"></th>
						<th th:text="#{th.audit.delay3b}"></th>
						<th th:text="#{th.audit.delay3c}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${items1}" th:class="'table-warning'">
						<th><a href="#" class="btn btn-sm btn-danger"
								th:href="@{/auditing/recommend/{id}(id=${item.audit_uuid})}"
								th:text="#{audit.recommendation}"></a>
						</th>
						<td
							th:text="${item.audit_death == 1}?#{label.still.birth.intra}:(${item.audit_death == 2}?#{label.still.birth.antep}:(${item.audit_death == 3}?#{label.neonatal.death}:${item.audit_death}))">
						</td>
						<td th:text="${item.audit_icdpm}"></td>
						<td th:text="${item.audit_delay1 == 1}?#{label.yes}:#{label.no}"></td>
						<td th:text="${item.audit_delay2 == 1}?#{label.yes}:#{label.no}"></td>
						<td th:text="${item.audit_delay3a == 1}?#{label.yes}:#{label.no}"></td>
						<td th:text="${item.audit_delay3b == 1}?#{label.yes}:#{label.no}"></td>
						<td th:text="${item.audit_delay3c == 1}?#{label.yes}:#{label.no}"></td>
					</tr>
				</tbody>
			</table>
			<div class="border-bottom bg-light small">
				<small>
					<span class="badge bg-secondary">[[#{th.audit.delay1}]]</span>
					[[#{label.audit_delay1}]]&nbsp;&nbsp;
				</small>
				<small>
					<span class="badge bg-secondary">[[#{th.audit.delay2}]]</span>
					[[#{label.audit_delay2}]]&nbsp;&nbsp;
				</small>
				<small>
					<span class="badge bg-secondary">[[#{th.audit.delay3a}]]</span>
					[[#{label.audit_delay3a}]]&nbsp;&nbsp;
				</small>
				<small>
					<span class="badge bg-secondary">[[#{th.audit.delay3b}]]</span>
					[[#{label.audit_delay3b}]]&nbsp;&nbsp;
				</small>
				<small>
					<span class="badge bg-secondary">[[#{th.audit.delay3c}]]</span>
					[[#{label.audit_delay3c}]]&nbsp;&nbsp;
				</small>
			</div>

		</div>
		<h4 class="text-secondary text-center" th:if="${#lists.isEmpty(items1)}" th:text="#{no.recommend.cases}"></h4>
	</div>
	<hr class="bg-light text-light"/>
	<div class="mt-5">
		<div class="table-responsive" th:unless="${#lists.isEmpty(items2)}">
			<table class="table table-sm table-bordered  table-responsive-sm small mb-0">
				<thead class="table-dark">
					<tr class="table-primary">
						<th th:utext="#{title.recommendation}" colspan="8"></th>
					</tr >
					<tr class="small">
						<th th:utext="#{label.recommend.date}" style="width: 10%"></th>
						<th th:utext="#{label.recommend.task}"></th>
						<th th:utext="#{label.recommend.lead}"></th>
						<th th:utext="#{label.recommend.memb}"></th>
						<th th:utext="#{label.recommend.dead}"></th>
						<th th:utext="#{label.recommend.need}"></th>
						<th th:utext="#{label.recommend.note}"></th>
						<th th:utext="#{label.recommend.stat}"></th>
					</tr >
				</thead>
				<tbody>
					<tr th:each="item,itemStat : ${items2}" th:class="${item.rec_color}">
						<th th:text="${#dates.format(item.recommendation_date,'dd-MMM-yyyy')}"></th>
						<td th:text="${item.recommendation_task}"></td>
						<td th:text="${item.recommendation_leader}"></td>
						<td th:text="${item.recommendation_reporter}"></td>
						<td th:text="${#dates.format(item.recommendation_deadline,'dd-MMM-yyyy')}"
							th:class="|${item.bg_color}|"></td>
						<td th:text="${item.recommendation_resources}"></td>
						<td>
							<div th:unless="${item.recommendation_status==2}"
								th:text="${item.recommendation_status==0}?#{status.not.started}:(${item.recommendation_status==1}?#{status.started}:'')">
							</div>
							<div th:if="${item.recommendation_status==2}">[[#{status.completed}]]</div>

							<i>[[${item.recommendation_comments}]]</i>
						</td>
						<td>
							<a href="#" class="btn small btn-primary"
								th:href="@{/auditing/cstatus/{id}(id=${item.recommendation_uuid})}">[[#{button.change.status}]]</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<h4 class="text-secondary text-center" th:if="${#lists.isEmpty(items2)}" th:text="#{no.action.cases}"></h4>
	</div >
</content>

</html>