<!DOCTYPE html>
<html th:replace="~{layout/auditing :: layout(_,~{::links},~{::scripts},~{::content},~{})}">
<links>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" />
	<link rel="stylesheet" href="webjars/jquery-steps/1.1.0/demo/css/jquery.steps.css" />
</links>
<content>
	<div class="float-end" th:text="${facility_code}"></div>
	<div class="col-md-12 py-3 my-3 mx-auto p-1 rounded box-shadow" style="background-color: #92c7f2;">
		<form action="#" th:action="@{/auditing/edit/{id}(id=${selected.audit_uuid})}" th:object="${selected}"
			method="POST" class="needs-validation" novalidate>
			<div class="row mb-3">
				<div class="col-md-6 mb-3">
					<div class="bg-light p-2 rounded">
						<div class="row mb-3">
							<div class="col-auto">
								<label class="text-secondary" th:text=#{label.date.audit}></label>
								<i th:text="${#dates.format(selected.audit_case.audit_date,'dd-MMM-yyyy')}"></i>
							</div>
							<div class="col-auto">
								<label class="text-secondary" th:text=#{label.case.type}></label>
								<i
									th:text="${selected.audit_case.case_death == 1}?#{label.still.birth}:#{label.neonatal.death}"></i>
							</div>
						</div>
						<div class="nav nav-pills mb-0 border-bottom small nav-justified" id="v-pills-tab"
							role="tablist" aria-orientation="horizontal">

							<button class="nav-link active" id="v-pills-biodata-tab" data-bs-toggle="pill"
								data-bs-target="#v-pills-biodata" type="button" role="tab"
								aria-controls="v-pills-biodata" aria-selected="true">Profile</button>

							<button class="nav-link" id="v-pills-pregnancy-tab" data-bs-toggle="pill"
								data-bs-target="#v-pills-pregnancy" type="button" role="tab"
								aria-controls="v-pills-pregnancy" aria-selected="false">Pregnancy</button>

							<button class="nav-link" id="v-pills-referral-tab" data-bs-toggle="pill"
								data-bs-target="#v-pills-referral" type="button" role="tab"
								aria-controls="v-pills-referral" aria-selected="false">Referral</button>

							<button class="nav-link" id="v-pills-delivery-tab" data-bs-toggle="pill"
								data-bs-target="#v-pills-delivery" type="button" role="tab"
								aria-controls="v-pills-delivery" aria-selected="false">Delivery</button>

							<button class="nav-link" id="v-pills-antenatal-tab" data-bs-toggle="pill"
								data-bs-target="#v-pills-antenatal" type="button" role="tab"
								aria-controls="v-pills-antenatal" aria-selected="false">Antenatal</button>

							<button class="nav-link" id="v-pills-labour-tab" data-bs-toggle="pill"
								data-bs-target="#v-pills-labour" type="button" role="tab" aria-controls="v-pills-labour"
								aria-selected="false">Labour</button>

							<button class="nav-link" id="v-pills-birth-tab" data-bs-toggle="pill"
								data-bs-target="#v-pills-birth" type="button" role="tab" aria-controls="v-pills-birth"
								aria-selected="false">Birth</button>

							<button class="nav-link" id="v-pills-fetalheart-tab" data-bs-toggle="pill"
								data-bs-target="#v-pills-fetalheart" type="button" role="tab"
								aria-controls="v-pills-fetalheart" aria-selected="false"
								th:if="${casefetalheart}">Fetalheart</button>

							<button class="nav-link" id="v-pills-babydeath-tab" data-bs-toggle="pill"
								data-bs-target="#v-pills-babydeath" type="button" role="tab"
								aria-controls="v-pills-babydeath" aria-selected="false" th:if="${casebabydeath}">Baby's
								Death</button>

							<button class="nav-link" id="v-pills-notes-tab" data-bs-toggle="pill"
								data-bs-target="#v-pills-notes" type="button" role="tab" aria-controls="v-pills-notes"
								aria-selected="false">Notes</button>

						</div>
						<div class="tab-content" id="v-pills-tabContent">
							<div class="tab-pane fade show active" id="v-pills-biodata" role="tabpanel"
								aria-labelledby="v-pills-biodata-tab">
								<div class="overflow-auto" style="height: 400px;">
									<table class="table">
										<thead>
											<tr>
												<th colspan="2" th:text="#{title.biodata}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${casebiodata}" th:if="${item.canreview}">
												<td th:utext="${item.question}" class="text-secondary"></td>
												<td th:utext="${item.answer}" style="width: 50%;"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-pregnancy" role="tabpanel"
								aria-labelledby="v-pills-pregnancy-tab">
								<div class="overflow-auto" style="height: 400px;">
									<table class="table">
										<thead>
											<tr>
												<th colspan="2" th:text="#{title.pregnancy}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${casepregnancy}" th:if="${item.canreview}">
												<td th:utext="${item.question}" class="text-secondary"></td>
												<td th:utext="${item.answer}" style="width: 50%;"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-referral" role="tabpanel"
								aria-labelledby="v-pills-referral-tab">
								<div class="overflow-auto" style="height: 400px;">
									<table class="table">
										<thead>
											<tr>
												<th th:text="#{title.referral}"></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<p th:each="item : ${casereferral}" th:if="${item.canreview}"
														class="border-bottom">
														<span class="text-secondary">
															[[${item.question}]]
														</span>
														<strong
															th:unless="${#strings.startsWith(item.answer,'XZYimageXZY')}"
															th:utext="${item.answer}" style="width: 50%;"></strong>
														<span th:if="${#strings.startsWith(item.answer,'XZYimageXZY')}"
															style="width: 50%;">
															<img id="itemphotoref"
																th:src="'data:image/png;base64,'+${#strings.substringAfter(item.answer,'XZYimageXZY')}"
																width="100%" />
														</span>
													</p>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-delivery" role="tabpanel"
								aria-labelledby="v-pills-delivery-tab">
								<div class="overflow-auto" style="height: 400px;">
									<table class="table">
										<thead>
											<tr>
												<th colspan="2" th:text="#{title.delivery}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${casedelivery}" th:if="${item.canreview}">
												<td th:utext="${item.question}" class="text-secondary"></td>
												<td th:utext="${item.answer}" style="width: 50%;"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-antenatal" role="tabpanel"
								aria-labelledby="v-pills-antenatal-tab">
								<div class="overflow-auto" style="height: 400px;">
									<table class="table">
										<thead>
											<tr>
												<th colspan="2" th:text="#{title.antenatal}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${caseantenatal}" th:if="${item.canreview}">
												<td th:utext="${item.question}" class="text-secondary"></td>
												<td th:utext="${item.answer}" style="width: 50%;"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-labour" role="tabpanel"
								aria-labelledby="v-pills-labour-tab">
								<div class="overflow-auto" style="height: 400px;">
									<table class="table">
										<thead>
											<tr>
												<th colspan="2" th:text="#{title.labour}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${caselabour}" th:if="${item.canreview}">
												<td th:utext="${item.question}" class="text-secondary"></td>
												<td th:utext="${item.answer}" style="width: 50%;"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-birth" role="tabpanel"
								aria-labelledby="v-pills-birth-tab">
								<div class="overflow-auto" style="height: 400px;">
									<table class="table">
										<thead>
											<tr>
												<th colspan="2" th:text="#{title.birth}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${casebirth}" th:if="${item.canreview}">
												<td th:utext="${item.question}" class="text-secondary"></td>
												<td th:utext="${item.answer}" style="width: 50%;"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-fetalheart" role="tabpanel"
								aria-labelledby="v-pills-fetalheart-tab" th:if="${casefetalheart}">
								<div class="overflow-auto" style="height: 400px;">
									<table class="table">
										<thead>
											<tr>
												<th colspan="2" th:text="#{title.fetalheart}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${casefetalheart}" th:if="${item.canreview}">
												<td th:utext="${item.question}" class="text-secondary"></td>
												<td th:utext="${item.answer}" style="width: 50%;"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-babydeath" role="tabpanel"
								aria-labelledby="v-pills-babydeath-tab" th:if="${casebabydeath}">
								<div class="overflow-auto" style="height: 400px;">
									<table class="table">
										<thead>
											<tr>
												<th colspan="2" th:text="#{title.baby}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${casebabydeath}" th:if="${item.canreview}">
												<td th:utext="${item.question}" class="text-secondary"></td>
												<td th:utext="${item.answer}" style="width: 50%;"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-notes" role="tabpanel"
								aria-labelledby="v-pills-notes-tab">
								<div class="overflow-auto" style="height: 400px;">
									<table class="table">
										<thead>
											<tr>
												<th th:text="#{title.notes}"></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<p th:each="item : ${casenotes}" th:if="${item.canreview}"
														class="border-bottom">
														<span class="text-secondary">
															[[${item.question}]]
														</span>
														<strong
															th:unless="${#strings.startsWith(item.answer,'XZYimageXZY')}"
															th:utext="${item.answer}" style="width: 50%;"></strong>
														<span th:if="${#strings.startsWith(item.answer,'XZYimageXZY')}"
															style="width: 50%;">
															<img id="itemphotoref"
																th:src="'data:image/png;base64,'+${#strings.substringAfter(item.answer,'XZYimageXZY')}"
																width="100%" />

														</span>

													</p>

												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div th:insert="fragments/review-case :: case_review"></div>
				</div>
			</div>
		</form>
	</div>
</content>

<scripts>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
	<script src="webjars/jquery-steps/1.1.0/build/jquery.steps.js"></script>
	<script>
		$(document).ready(function () {
			$('#audit_icd10').select2({
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			$('#audit_icdpm').select2();
		});
	</script>
	<script th:inline="javascript">
		$(document).ready(function () {
			$('#patient_factors').select2({
				placeholder: /*[[#{label.audit_patient}]]*/ "",

			});
		});
	</script>
	<script th:inline="javascript">
		$(document).ready(function () {
			$('#transport_factors').select2({
				placeholder: /*[[#{label.audit_transport}]]*/ "",

			});
		});
	</script>
	<script th:inline="javascript">
		$(document).ready(function () {
			$('#administrative_factors').select2({
				placeholder: /*[[#{label.audit_administrative}]]*/ "",

			});
		});
	</script>
	<script th:inline="javascript">
		$(document).ready(function () {
			$('#healthworker_factors').select2({
				placeholder: /*[[#{label.audit_healthworker}]]*/ "",

			});
		});
	</script>
	<script th:inline="javascript">
		$(document).ready(function () {
			$('#document_factors').select2({
				placeholder: /*[[#{label.audit_document}]]*/ "",

			});
		});
	</script>
	<script>
		$("#example-basic").steps({
			headerTag: "h3",
			bodyTag: "section",
			transitionEffect: "slideLeft",
			enableFinishButton: true,
			enablePagination: true,
			enableAllSteps: true,
			titleTemplate: "#title#",
			autoFocus: true,
		});
	</script>

	<script>
		(function () {
			'use strict';
			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');

				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');

					}, false);
				});
			}, false);
		})();
	</script>
	<script>
		$('#audit_death').click(
			function () {
				$.getJSON("http://localhost:5000/auditing/icdcodes", {
					audit_death: $(this).val(),
					ajax: 'true'
				}, function (data) {
					var html = '<option value="">--select--</option>';
					var len = data.length;
					for (var i = 0; i < len; i++) {
						html += '<option value="' + data[i].icd_code + '">'
							+ data[i].icd_code + " : " + data[i].icd_desc + '</option>';
					}
					html += '</option>';
					$('#audit_icd10').html(html);
				});
			});
	</script>
	<script>
		$('#audit_death').click(
			function () {
				$.getJSON("http://localhost:5000/auditing/pmcodes", {
					audit_death: $(this).val(),
					ajax: 'true'
				}, function (data) {
					var html = '<option value="">--select--</option>';
					var len = data.length;
					for (var i = 0; i < len; i++) {
						html += '<option value="' + data[i].pm_code + '">'
							+ data[i].pm_code + " : " + data[i].pm_desc + '</option>';
					}
					html += '</option>';
					$('#audit_icdpm').html(html);
				});
			});
	</script>
	<script th:inline="javascript">
		$('#audit_icd10').change(
			function () {
				$.getJSON("http://localhost:5000/auditing/pmselect", {
					audit_death: $('#audit_death').val(),
					audit_icd10: $(this).val(),
					ajax: 'true'
				}, function (data) {
					$("#div_pmwarn").html('');
					$("#div_pmcode").html('');
					if (data.pm_code != null) {
						var sel_pm = $('#audit_icdpm').val();
						var htmlcode = '<span class="fw-bold text-danger">' + data.pm_code + '</span>&nbsp;';
						var htmldesc = '<span class="fw-bold text-dark">' + data.pm_desc + '</span>';
						$("#div_pmcode").html(htmlcode + htmldesc);
						if (sel_pm != data.pm_code && sel_pm != '') {
							var expected = /*[[#{pm.icd.mismatch}]]*/ "";
							var selected = /*[[#{pm.icd.selected}]]*/ "";
							$("#div_pmwarn").html(expected + '&nbsp;' + htmlcode + htmldesc + '&nbsp;' + selected + '&nbsp;<b class="text-danger">' + sel_pm + '</b>');
							//document.getElementById('audit_icdpm').value = '';
						}
					}
				});
			});
	</script>
	<script th:inline="javascript">
		$('#audit_icdpm').change(
			function () {
				$.getJSON("http://localhost:5000/auditing/pmselect", {
					audit_death: $('#audit_death').val(),
					audit_icd10: $('#audit_icd10').val(),
					ajax: 'true'
				}, function (data) {
					var sel_icd = $('#audit_icd10').val();
					$("#div_pmwarn").html('');
					$("#div_pmcode").html('');
					if (sel_icd != '') {
						var sel_pm = $('#audit_icdpm').val();
						var htmlcode = '<span class="fw-bold text-danger">' + data.pm_code + '</span>&nbsp;';
						var htmldesc = '<span class="fw-bold text-dark">' + data.pm_desc + '</span>';
						$("#div_pmcode").html(htmlcode + htmldesc);
						if (sel_pm != data.pm_code) {
							var expected = /*[[#{pm.icd.mismatch}]]*/ "";
							var selected = /*[[#{pm.icd.selected}]]*/ "";
							$("#div_pmwarn").html(expected + '&nbsp;' + htmlcode + htmldesc + '&nbsp;' + selected + '&nbsp;<b class="text-danger">' + sel_pm + '</b>');
							//document.getElementById('audit_icdpm').value = '';
						}
					}
				});
			});
	</script>

	<script>
		function changeMCView() {
			var objCombo = document.getElementById("maternal_condition");

			if (objCombo.value != '1') {
				$('#mc_fieldset').hide();

			} else {
				$('#mc_fieldset').show();
			}
		}
		changeMCView();
	</script>
	<script>
		function changeMCToNA(objCombo) {
			var rskopt = document.getElementsByClassName("mcond_options");

			if (objCombo.value != '1') {

				for (var i = 0; i < rskopt.length; i++) {
					if (rskopt[i].type == 'checkbox') {
						rskopt[i].checked = false;
					}
				}

				$('#mc_fieldset').hide('fade');

			} else {
				$('#mc_fieldset').show('fade');

			}

		}
	</script>

</scripts>

</html>