<!DOCTYPE html>
<html th:replace="~{layout/auditing :: layout(_,~{},~{},~{::content},~{::subnav})}">

<subnav>
	<div class="m-1 small"></div>
</subnav>

<content>
	<div class="table-responsive mt-2">
		<table class="table table-hover table-bordered table-sm table-responsive-sm small">
			<thead>
				<tr class="table-dark">
					<th th:text="#{th.action.link}"></th>
					<th th:text="#{th.date.entered}"></th>
					<th th:text="#{th.case.type}"></th>
					<th th:text="#{th.case.sex}"></th>
					<th th:text="#{th.case.mage}"></th>
					<th th:text="#{th.audit.status}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${items}" th:class="'table-success'">
					<th><a href="#" th:href="@{/auditing/edit/{id}(id=${item.case_uuid})}" th:text="#{audit.link}"></a>
					</th>
					<td th:text="${item.case_date}"></td>
					<td th:text="${item.case_death == 1}?'Stillbirth':'Neonatal'"></td>
					<td th:text="${item.biodata.biodata_sex == 1}?'Male':'Female'"></td>
					<td th:text="${item.biodata.biodata_mage}"></td>
					<td>Pending/Completed</td>
				</tr>
			</tbody>
		</table>
	</div>
</content>

</html>