<!DOCTYPE html>
<html th:replace="~{layout/auditing :: layout(_,~{},~{::scripts},~{::content},~{})}">


<content>
	<div class="float-end" th:text="${facility_code}"></div>
	<div class="col-md-12 py-3 my-3 mx-auto p-1 rounded box-shadow" style="background-color: #92c7f2;">
		<form action="#" th:action="@{/auditing/recommend/cstatus/{id}(id=${selected.recommendation_uuid})}"
			th:object="${selected}" method="POST" class="needs-validation" novalidate>
			<div class="row">
				<div class="col-md-6">

					<div th:class="${selected.rec_color}">
						<div class="row">
							<div class="col-md-12">
								<div class="row mb-2">
									<h6 th:utext="#{label.recommend.head}" class="text-secondary"></h6>
									<p th:text="${selected.recommendation_title}"></p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="row mb-2">
									<h6 th:utext="#{label.recommend.task}" class="text-secondary"></h6>
									<p th:text="${selected.recommendation_task}"></p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="row mb-2">
									<h6 th:utext="#{label.recommend.lead}" class="text-secondary"></h6>
									<p th:text="${selected.recommendation_leader}"></p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="row mb-2">
									<h6 th:utext="#{label.recommend.dead}" class="text-secondary"></h6>
									<p th:text="${#dates.format(selected.recommendation_deadline,'dd-MMM-yyyy')}"></p >
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="row mb-2">
									<h6 th:utext="#{label.recommend.memb}" class="text-secondary"></h6>
									<p th:text="${selected.recommendation_reporter}"></p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="row mb-2">
									<h6 th:utext="#{label.recommend.need}" class="text-secondary"></h6>
									<p th:text="${selected.recommendation_resources}"></p >
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div th:insert="fragments/review-case :: case_status"></div>
				</div>
			</div>
		</form>
	</div>
</content>

<scripts>
	<script>
		$(function () {
			$(".datepicker").datepicker({
				dateFormat: 'dd/mm/yy',
				changeMonth: true,
				changeYear: true,
				minDate: new Date()
			});
		});
	</script>

	<script>
		(function () {
			'use strict';
			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');

				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');

					}, false);
				});
			}, false);
		})();
	</script>
</scripts>

</html>