<!DOCTYPE html>
<html th:replace="~{layout/auditing :: layout(_,~{},~{::scripts},~{::content},~{})}">


<content>
	<div class="float-end" th:text="${facility_code}"></div>
	<div class="col-md-12 py-3 my-3 mx-auto p-1 rounded box-shadow" style="background-color: #92c7f2;">
		<form action="#" th:action="@{/auditing/recommend/{id}(id=${selected.audit_uuid.audit_uuid})}"
			th:object="${selected}" method="POST" class="needs-validation" novalidate>
			<div class="row">
				<div class="col-md-6 mb-3">
					<div class="bg-light p-2 rounded">
						<table class="table">
							<thead>
								<tr>
									<th th:text="#{title.audited}"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${caseaudited}">
									<td>
										<span class="text-muted">[(${item.question})]]</span>:
										<span class="fw-bold">[(${item.answer})]</span>
									</td>
								</tr>
							</tbody>
						</table>
						<div>
							<h4 th:text="#{title.recommendation}" class="badge bg-primary d-grid"></h4>
							<table class="table table-dark small">
								<thead>
									<tr>
										<th th:text="#{recommendation.date}"></th>
										<th th:text="#{recommendation.task}"></th>
										<th th:text="#{recommendation.lead}"></th>
										<th th:text="#{recommendation.memb}"></th>
										<th th:text="#{recommendation.dead}"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item : ${recommendations}" th:class="${item.rec_color}">
										<td th:text="${item.recommendation_date}">
										</td>
										<td th:text="${item.recommendation_title}">
										</td>
										<td th:text="${item.recommendation_leader}">
										</td>
										<td th:text="${item.recommendation_reporter}">
										</td>
										<td th:text="${#dates.format(item.recommendation_deadline,'dd-MMM-yyyy')}">
										</td>
									</tr>
								</tbody>
							</table>
							<div>
								<p class="alert alert-danger">[(#{label.recommend.complete})]
									<a class="btn btn-danger btn-sm" th:href="@{/auditing/recommend/complete/{id}(id=${selected.audit_uuid.audit_uuid})}"
										th:utext="#{button.process.completed}"></a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div th:insert="fragments/review-case :: case_recommend"></div>
				</div>
			</div>
		</form>
	</div>
</content>

<scripts>
	<script>
		$(function () {
			$(".datepicker").datepicker({
				dateFormat: 'dd/mm/yy',
				changeMonth: true,
				changeYear: true,
				minDate: new Date()
			});
		});
	</script>

	<script>
		(function () {
			'use strict';
			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');

				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');

					}, false);
				});
			}, false);
		})();
	</script>
</scripts>

</html>