<!DOCTYPE html>
<html th:replace="~{layout/auditing :: layout(_,~{},~{},~{::content},~{::subnav})}">

<subnav>
	<div class="m-1 small"></div>
</subnav>

<content>
	<hr />
	<div th:if="${#lists.isEmpty(items)}">
		<form action="#" th:action="@{/auditing}" method="POST">
			<div class="text-center">
				<button class="btn btn-primary btn-lg" type="submit" th:utext="#{load.cases.button}"></button>
			</div>
		</form>
	</div>
	<div class="table-responsive mt-2" th:unless="${#lists.isEmpty(items)}">
		<table class="table table-hover table-bordered table-sm table-responsive-sm small">
			<thead>
				<tr class="table-dark">
					<th th:text="#{th.action.link}"></th>
					<th th:text="#{th.case.type}"></th>
					<th th:text="#{th.date.entered}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${items}" th:class="'table-danger'">
					<th><a href="#" th:href="@{/auditing/edit/{id}(id=${item.audit_uuid})}" th:text="#{audit.link}"></a>
					</th>
					<td th:text="${item.case_death == 1}?#{label.still.birth}:#{label.neonatal.death}"></td>
					<td th:text="${item.audit_date}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</content>

</html>