<!DOCTYPE html>
<html th:replace="~{layout/auditing :: layout(_,~{},~{::scripts},~{::content},~{})}">


<content>
	<div class="float-end" th:text="${selected.facility.facility_code}"></div>
	<div class="col-md-12 py-3 my-3 mx-auto p-5 rounded box-shadow" style="background-color: #92c7f2;">
		<form action="#" th:action="@{/auditiing/edit/{id}(id=${selected.case_uuid})}" th:object="${selected}"
			method="POST" class="needs-validation" novalidate>
			<div th:if="${success}" class="alert alert-warning" th:text="${success}"></div>
			<div class="row mb-3">
			<div class="col-md-6">
			content
			</div>
			<div class="col-md-6">
			audit
			</div>
			
			</div >
			
		</form>
	</div>
</content>

<scripts>
	<script>
		(function () {
			'use strict';
			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');

				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');

					}, false);
				});
			}, false);
		})();
	</script>
</scripts>

</html>