<!DOCTYPE html>
<html th:replace="~{layout/registry :: layout(_,~{},~{::scripts},~{::content},~{})}">

<content>
	<div class="float-end" th:text="${selected.facility.facility_code}"></div>
	<div class="col-md-12 py-3 my-3 mx-auto p-5 rounded box-shadow" style="background-color: #92c7f2;">
		<form action="#" th:action="@{/registry/edit/{id}?page={pg}(id=${selected.case_uuid}, pg=${page})}"
			th:object="${selected}" method="POST" class="needs-validation" novalidate>
			<div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

			<div th:if="${page==0}" th:insert="fragments/update-case :: case_identifiers"></div>
			<div th:if="${page==1}" th:insert="fragments/update-case :: case_biodata"></div>
			<div th:if="${page==2}" th:insert="fragments/update-case :: case_pregnancy"></div>
			<div th:if="${page==3}" th:insert="fragments/update-case :: case_referral"></div>
			<div th:if="${page==4}" th:insert="fragments/update-case :: case_delivery"></div>
			<div th:if="${page==5}" th:insert="fragments/update-case :: case_antenatal"></div>
			<div th:if="${page==6}" th:insert="fragments/update-case :: case_labour"></div>
			<div th:if="${page==7}" th:insert="fragments/update-case :: case_birth"></div>
			<div th:if="${page==8}" th:insert="fragments/update-case :: case_fetalheart"></div>
			<div th:if="${page==9}" th:insert="fragments/update-case :: case_notes"></div>

		</form>
	</div>
	<div th:if="${completed}">
		<a th:href="@{/registry/submit/{id}(id=${selected.case_uuid}, pg=${page})}"
			class="btn btn-outline-success btn-lg" th:utext="#{submit.audit.button}"></a>
	</div>
</content>

<scripts>
	<script>
		$(function () {
			$(".datepicker").datepicker({
				dateFormat: 'dd/mm/yy',
				changeMonth: true,
				changeYear: true
			});
		});
	</script>
	<script>
		$('.timepicker').timepicker({
			timeFormat: 'h:mm p',
			interval: 30,
			minTime: '12:00am',
			maxTime: '11:59pm',
			startTime: '01:00am',
			dynamic: false,
			dropdown: true,
			scrollbar: true
		});
	</script>
	<script>
		(function () {
			'use strict';
			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');

				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');

					}, false);
				});
			}, false);
		})();
	</script>
</scripts>

</html>