<!DOCTYPE html>
<html th:replace="~{layout/registry :: layout(_,~{},~{::scripts},~{::content},~{})}">

<content>
	<div class="float-end" th:text="${selected.facility.facility_code}"></div>
	<div class="col-md-12 py-3 my-3 mx-auto p-5 rounded box-shadow" style="background-color: #92c7f2;">
		<form action="#" th:action="@{/registry/edit/{id}?page={pg}(id=${selected.case_uuid}, pg=${page})}"
			th:object="${selected}" method="POST" class="needs-validation" novalidate>
			<div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

			<div th:if="${page==0}" th:insert="fragments/update-case :: case_identifiers"></div>
			<div th:if="${page==1}" th:insert="fragments/update-case :: case_biodata"></div>
			<div th:if="${page==2}" th:insert="fragments/update-case :: case_pregnancy"></div>
			<div th:if="${page==3}" th:insert="fragments/update-case :: case_referral"></div>
			<div th:if="${page==4}" th:insert="fragments/update-case :: case_delivery"></div>
			<div th:if="${page==5}" th:insert="fragments/update-case :: case_antenatal"></div>
			<div th:if="${page==6}" th:insert="fragments/update-case :: case_labour"></div>
			<div th:if="${page==7}" th:insert="fragments/update-case :: case_birth"></div>
			<div th:if="${page==8 and selected.case_death==1}" th:insert="fragments/update-case :: case_fetalheart">
			</div>
			<div th:if="${page==8 and selected.case_death==2}" th:insert="fragments/update-case :: case_babydeath">
			</div>
			<div th:if="${page==9}" th:insert="fragments/update-case :: case_notes"></div>

		</form>
	</div>
	<div th:if="${completed}">
		<a th:href="@{/registry/submit/{id}(id=${selected.case_uuid}, pg=${page})}"
			class="btn btn-outline-success btn-lg" th:utext="#{submit.audit.button}"></a>
	</div>
</content>

<scripts>
	<script>
		function changeReferralView() {
			var objCombo = document.getElementById("referral_case");

			if (objCombo.value != '1') {
				$('#referral_fieldset').hide();

			} else {
				$('#referral_fieldset').show();
			}
		}
		changeReferralView();
	</script>
	<script>
		function changeReferralOtherToNA(objCombo) {
			var rpat = document.getElementById("referral_patient");
			var rsrc = document.getElementById("referral_source");
			var rfac = document.getElementById("referral_facility");
			var rdate = document.getElementById("referral_date");
			var rtime = document.getElementById("referral_time");
			var radate = document.getElementById("referral_adate");
			var ratime = document.getElementById("referral_atime");
			var rtrans = document.getElementById("referral_transport");
			var rfile = document.getElementById("referral_file");
			var rnotes = document.getElementById("referral_notes");

			if (objCombo.value != '1') {
				rpat.value = '99';
				rsrc.value = '99';
				rfac.value = "NA";
				rfac.readOnly = true;
				rdate.value = "01/01/1970";
				rtime.value = "12:00 PM";
				radate.value = "01/01/1970";
				ratime.value = "12:00 PM";
				rtrans.value = '99';
				rfile.hidden = true;
				rnotes.readOnly = true;

				$('#referral_fieldset').hide('fade');

			} else {
				$('#referral_fieldset').show('fade');

				rpat.value = '';
				rsrc.value = '';
				rfac.value = "";
				rfac.readOnly = false;
				rdate.value = "";
				rtime.value = "";
				radate.value = "";
				ratime.value = "";
				rtrans.value = '';
				rfile.hidden = false;
				rnotes.readOnly = false;
			}
		}
	</script>
	<script>
		function changeAntenatalView() {
			var objCombo = document.getElementById("antenatal_attend");

			if (objCombo.value != '1') {
				$('#antenatal_attend_fieldset').hide();

			} else {
				$('#antenatal_attend_fieldset').show();
			}
		}
		changeAntenatalView();
	</script>
	<script>
		function changeAntenatalOtherToNA(objCombo) {
			var attno = document.getElementById("antenatal_attendno");
			var atfac = document.getElementById("antenatal_facility");
			var atwks = document.getElementById("antenatal_weeks");
			var atdys = document.getElementById("antenatal_days");

			if (objCombo.value != '1') {
				attno.value = '99';
				atfac.value = "NA";
				atfac.readOnly = true;
				atwks.value = '99';
				atdys.value = '99';

				$('#antenatal_attend_fieldset').hide('fade');

			} else {
				$('#antenatal_attend_fieldset').show('fade');

				attno.value = '';
				atfac.value = "";
				atfac.readOnly = false;
				atwks.value = '';
				atdys.value = '';
			}
		}
	</script>
	<script>
		function changeAntenatalRiskView() {
			var objCombo = document.getElementById("antenatal_risks");

			if (objCombo.value != '1') {
				$('#antenatal_risks_fieldset').hide();

			} else {
				$('#antenatal_risks_fieldset').show();
			}
		}
		changeAntenatalRiskView();
	</script>
	<script>
		function changeAntenatalRiskOtherToNA(objCombo) {
			var rskopt = document.getElementsByClassName("risk_options");
			var nwrsks = document.getElementById("new_risks");

			if (objCombo.value != '1') {
				
				for (var i = 0; i < rskopt.length; i++) {
					if (rskopt[i].type == 'checkbox') {
						rskopt[i].checked = false;
					}
				} 
				
				nwrsks.value = "";
				nwrsks.readOnly = true;

				$('#antenatal_risks_fieldset').hide('fade');

			} else {
				$('#antenatal_risks_fieldset').show('fade');

				atfac.value = "";
				atfac.readOnly = false;
			}
		}
	</script>
	<script>
		function changeAntenatalFolicView() {
			var objCombo = document.getElementById("antenatal_folicacid");

			if (objCombo.value != '1') {
				$('#antenatal_folic_fieldset').hide();

			} else {
				$('#antenatal_folic_fieldset').show();
			}
		}
		changeAntenatalFolicView();
	</script>
	<script>
		function changeAntenatalFolicOtherToNA(objCombo) {
			var folic3m = document.getElementById("antenatal_folicacid3m");

			if (objCombo.value != '1') {
				
				folic3m.value = "";

				$('#antenatal_folic_fieldset').hide('fade');

			} else {
				$('#antenatal_folic_fieldset').show('fade');

				atfac.value = "";
				atfac.readOnly = false;
			}
		}
	</script>

	<script>
		$(function () {
			$(".datepicker").datepicker({
				dateFormat: 'dd/mm/yy',
				changeMonth: true,
				changeYear: true,
				maxDate: new Date()
			});
		});
	</script>
	<script>
		$('.timepicker').timepicker({
			timeFormat: 'h:mm p',
			interval: 30,
			minTime: '12:00am',
			maxTime: '11:59pm',
			startTime: '01:00am',
			dynamic: false,
			dropdown: true,
			scrollbar: true
		});
	</script>
	<script>
		(function () {
			'use strict';
			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');

				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');

					}, false);
				});


			}, false);
		})();
	</script>
</scripts>

</html>