<!DOCTYPE html>
<html th:replace="~{layout/registry :: layout(_,~{},~{},~{::content},~{::subnav})}">

<subnav>
	<div class="m-1 small"></div>
</subnav>

<content> <a class="btn btn-success" href="#" th:href="@{/registry/add}" th:utext="#{add.case.button}"></a>
	<div class="table-responsive mt-2">
		<table class="table table-hover table-bordered table-sm table-responsive-sm small">
			<thead>
				<tr class="table-dark">
					<th th:text="#{th.action.link}"></th>
					<th th:text="#{th.date.entered}"></th>
					<th th:text="#{th.mother.name}"></th>
					<th th:text="#{th.case.type}"></th>
					<th th:text="#{th.entry.status}" style="width: 40%"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${items}">
					<th><a href="#" th:href="@{/registry/edit/{id}?page=0(id=${item.case_uuid})}"
							th:text="#{edit.link}"></a></th>
					<td th:text="${item.case_date}"></td>
					<td th:text="${item.case_mname}"></td>
					<td th:text="${item.case_death == 1}?#{label.still.birth}:#{label.neonatal.death}"></td>
					<td>
						<a th:href="@{/registry/edit/{id}?page=1(id=${item.case_uuid})}">
							<span class="badge" th:classappend="${item.biodata}?'bg-success':'bg-danger'">Profile</span>
						</a>
						<a th:href="@{/registry/edit/{id}?page=2(id=${item.case_uuid})}">
							<span class="badge" th:classappend="${item.pregnancy}?'bg-success':'bg-danger'">Pregnancy</span>
						</a>
						<a th:href="@{/registry/edit/{id}?page=3(id=${item.case_uuid})}">
							<span class="badge" th:classappend="${item.referral}?'bg-success':'bg-danger'">Referral</span>
						</a>
						<a th:href="@{/registry/edit/{id}?page=4(id=${item.case_uuid})}">
							<span class="badge" th:classappend="${item.delivery}?'bg-success':'bg-danger'">Delivery</span>
						</a>
						<a th:href="@{/registry/edit/{id}?page=5(id=${item.case_uuid})}">
							<span class="badge" th:classappend="${item.antenatal}?'bg-success':'bg-danger'">Antenatal</span>
						</a>
						<a th:href="@{/registry/edit/{id}?page=6(id=${item.case_uuid})}">
							<span class="badge" th:classappend="${item.labour}?'bg-success':'bg-danger'">Labour</span>
						</a>
						<a th:href="@{/registry/edit/{id}?page=7(id=${item.case_uuid})}">
							<span class="badge" th:classappend="${item.birth}?'bg-success':'bg-danger'">Birth</span>
						</a>
						<a th:href="@{/registry/edit/{id}?page=8(id=${item.case_uuid})}">
							<span class="badge" th:classappend="${item.fetalheart}?'bg-success':'bg-danger'">Fetal Heart</span>
						</a>
						<a th:href="@{/registry/edit/{id}?page=9(id=${item.case_uuid})}">
							<span class="badge" th:classappend="${item.notes}?'bg-success':'bg-danger'">Notes</span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</content>

</html>