<!DOCTYPE html>
<html th:replace="~{layout/registry :: layout(_,~{},~{::scripts},~{::content},~{})}">

<content>
	<div class="col-md-12 py-3 my-3 mx-auto p-5 rounded box-shadow" style="background-color: #92c7f2;">
		<form action="#" th:action="@{/registry/add}" th:object="${selected}" method="POST" class="needs-validation"
			novalidate>
			<div th:if="${success}" class="alert alert-warning" th:text="${success}"></div>

			<div class="row">
				<div class="col-md-4 mb-3">
					<label class="control-label" th:text=#{label.case_date}></label> <input type="date"
						class="form-control form-control-sm" th:field="*{case_date}" readonly />
					<div class="small text-secondary" th:text="#{notes.case_date}"></div>
				</div>
				<div class="col-md-4 mb-3">
					<label class="control-label" th:text="#{label.case_death}"></label>
					<select class="form-control form-control-sm" th:field="*{case_death}" required>
						<option th:each="option : ${death_options}" th:value="${option.key}" th:text="${option.value}">
						</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 mb-3">
					<label class="control-label" th:text="#{label.case_mid}"></label> <input type="text"
						class="form-control form-control-sm" th:field="*{case_mid}" required />
					<div class="small text-secondary" th:text="#{notes.case_mid}"></div>
				</div>
				<div class="col-md-8 mb-3">
					<label class="control-label" th:text="#{label.case_mname}"></label>
					<input type="text" class="form-control form-control-sm" th:field="*{case_mname}" required />
					<div class="small text-secondary" th:text="#{notes.case_mname}"></div>
				</div>
			</div>

			<div class="mb-3">
				<div class="alert alert-warning">
					[(#{label.case_death})]
					<hr />
					[(#{still.birth})]
					<hr />
					[(#{early.death})]
				</div>
			</div>
			<hr class="mb-2 bg-secondary">
			<div class="">
				<button class="btn btn-primary" type="submit" th:utext="#{save.next.button}"></button>
			</div>
		</form>
	</div>
</content>

<scripts>
	<script>
		(function () {
			'use strict';
			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');

				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');

					}, false);
				});
			}, false);
		})();
	</script>
</scripts>

</html>