<div th:fragment="table_view1">
	<table class="table table-hover table-striped table-lg table-responsive  mt-2">
		<thead>
			<tr class="bg-info">
				<th style="width: 20%;" th:text="#{th.isbr}"></th>
				<th class="text-end" style="width: 20%;">[[${oavg.wmdesc}]]</th>
				<th class="text-end" th:each="item, itemStat : ${yearmonth_array}" th:text="${item}">
					yearmonth</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="#{label.isbr}"></td>
				<th class="text-end lead fw-bold table-info"
					th:text="${#numbers.formatDecimal(oavg.isbr_oavg, 1, 'COMMA', 1, 'POINT')}"></th>
				<td class="text-end" th:each="item, itemStat : ${isbr_array}"
					th:text="${#numbers.formatDecimal(item, 1, 'COMMA', 1, 'POINT')}">isbr</td>
			</tr>
			<tr>
				<td th:text="#{label.iisbr}"></td>
				<th class="text-end lead fw-bold table-info"
					th:text="${#numbers.formatDecimal(oavg.iisbr_oavg, 1, 'COMMA', 1, 'POINT')}"></th>
				<td class="text-end" th:each="item, itemStat : ${iisbr_array}"
					th:text="${#numbers.formatDecimal(item, 1, 'COMMA', 1, 'POINT')}">isbr</td>
			</tr>
			<tr>
				<td th:text="#{label.aisbr}"></td>
				<th class="text-end lead fw-bold table-info"
					th:text="${#numbers.formatDecimal(oavg.aisbr_oavg, 1, 'COMMA', 1, 'POINT')}"></th>
				<td class="text-end" th:each="item, itemStat : ${aisbr_array}"
					th:text="${#numbers.formatDecimal(item, 1, 'COMMA', 1, 'POINT')}">isbr</td>
			</tr>
			<tr>
				<td th:text="#{label.piisbr}"></td>
				<th class="text-end lead fw-bold table-info"
					th:text="|${#numbers.formatDecimal(oavg.piisbr_oavg, 1, 'COMMA', 1, 'POINT')}%|"></th>
				<td class="text-end" th:each="item, itemStat : ${piisbr_array}"
					th:text="|${#numbers.formatDecimal(item, 1, 'COMMA', 1, 'POINT')}%|">isbr</td>
			</tr>
			<tr>
				<td th:text="#{label.einmr}"></td>
				<th class="text-end lead fw-bold table-info"
					th:text="${#numbers.formatDecimal(oavg.einmr_oavg, 1, 'COMMA', 1, 'POINT')}"></th>
				<td class="text-end" th:each="item, itemStat : ${einmr_array}"
					th:text="${#numbers.formatDecimal(item, 1, 'COMMA', 1, 'POINT')}">isbr</td>
			</tr>
			<tr>
				<td th:text="#{label.ipmr}"></td>
				<th class="text-end lead fw-bold table-info"
					th:text="${#numbers.formatDecimal(oavg.ipmr_oavg, 1, 'COMMA', 1, 'POINT')}"></th>
				<td class="text-end" th:each="item, itemStat : ${ipmr_array}"
					th:text="${#numbers.formatDecimal(item, 1, 'COMMA', 1, 'POINT')}">isbr</td>
			</tr>
			<tr>
				<td th:text="#{label.inmr}"></td>
				<th class="text-end lead fw-bold table-info"
					th:text="${#numbers.formatDecimal(oavg.inmr_oavg, 1, 'COMMA', 1, 'POINT')}"></th>
				<td class="text-end" th:each="item, itemStat : ${inmr_array}"
					th:text="${#numbers.formatDecimal(item, 1, 'COMMA', 1, 'POINT')}">isbr</td>
			</tr>
			<tr>
				<td th:text="#{label.immr}"></td>
				<th class="text-end lead fw-bold table-info"
					th:text="${#numbers.formatDecimal(oavg.immr_oavg, 1, 'COMMA', 1, 'POINT')}"></th>
				<td class="text-end" th:each="item, itemStat : ${immr_array}"
					th:text="${#numbers.formatDecimal(item, 1, 'COMMA', 1, 'POINT')}">isbr</td>
			</tr>
			<tr>
				<td th:text="#{label.icsr}"></td>
				<th class="text-end lead fw-bold table-info"
					th:text="|${#numbers.formatDecimal(oavg.icsr_oavg, 1, 'COMMA', 1, 'POINT')}%|"></th>
				<td class="text-end" th:each="item, itemStat : ${icsr_array}"
					th:text="|${#numbers.formatDecimal(item, 1, 'COMMA', 1, 'POINT')}%|">isbr</td>
			</tr>
			<tr>
				<td th:text="#{label.iadr}"></td>
				<th class="text-end lead fw-bold table-info"
					th:text="|${#numbers.formatDecimal(oavg.iadr_oavg, 1, 'COMMA', 1, 'POINT')}%|"></th>
				<td class="text-end" th:each="item, itemStat : ${iadr_array}"
					th:text="|${#numbers.formatDecimal(item, 1, 'COMMA', 1, 'POINT')}%|">isbr</td>
			</tr>
			<tr>
				<td th:text="#{label.ilbwr}"></td>
				<th class="text-end lead fw-bold table-info"
					th:text="|${#numbers.formatDecimal(oavg.ilbwr_oavg, 1, 'COMMA', 1, 'POINT')}%|"></th>
				<td class="text-end" th:each="item, itemStat : ${ilbwr_array}"
					th:text="|${#numbers.formatDecimal(item, 1, 'COMMA', 1, 'POINT')}%|">isbr</td>
			</tr>
			<tr>
				<td th:text="#{label.iptbr}"></td>
				<th class="text-end lead fw-bold table-info"
					th:text="|${#numbers.formatDecimal(oavg.iptbr_oavg, 1, 'COMMA', 1, 'POINT')}%|"></th>
				<td class="text-end" th:each="item, itemStat : ${iptbr_array}"
					th:text="|${#numbers.formatDecimal(item, 1, 'COMMA', 1, 'POINT')}%|">isbr</td>
			</tr>
			<tr>
				<td th:text="#{label.ndrwk1}"></td>
				<th class="text-end lead fw-bold table-info"
					th:text="|${#numbers.formatDecimal(oavg.indwk1_oavg, 1, 'COMMA', 1, 'POINT')}%|"></th>
				<td class="text-end" th:each="item, itemStat : ${indwk1_array}"
					th:text="|${#numbers.formatDecimal(item, 1, 'COMMA', 1, 'POINT')}%|">isbr</td>
			</tr>
			<tr class="bg-info">
				<td th:colspan="${yearmonth_array.length+2}"></td>
			</tr>

			<tr class="table-primary">
				<th th:text="#{label.tmd}"></th>
				<th class="text-end lead fw-bold table-info" th:text="${oavg.mdeath_osum}+'*'"></th>
				<td class="text-end" th:each="item, itemStat : ${mdeath_array}" th:text="${item}+'*'">isbr
				</td>
			</tr>
		</tbody>
	</table>
	<small>*Total Sum for maternal deaths</small>

</div>
<div th:fragment="table_view2">
	<table class="table table-hover table-striped table-lg table-responsive">
		<thead>
			<tr class="table-success">
				<th style="width: 20%;">Month-Year</th>
				<th>SBR</th>
				<th>I.SBR</th>
				<th>A.SBR</th>
				<th>% I.SBR</th>
				<th>iENMR</th>
				<th>iPMR</th>
				<th>iNMR</th>
				<th>iMMR</th>
				<th>CSR</th>
				<th>ADR</th>
				<th>iLBWR</th>
				<th>iPTBR</th>
				<th>NDRwk1</th>
				<th>TMD</th>
			</tr>
			<tr class="bg-primary text-white">
				<th style="width: 20%;" th:text="#{th.monthyear}"></th>
				<th th:text="#{th.isbr}">SBR</th>
				<th th:text="#{th.iisbr}">I.SBR</th>
				<th th:text="#{th.aisbr}">A.SBR</th>
				<th th:text="#{th.piisbr}">I.SBR(%)</th>
				<th th:text="#{th.einmr}">iENMR</th>
				<th th:text="#{th.ipmr}">iPMR</th>
				<th th:text="#{th.inmr}">iNMR</th>
				<th th:text="#{th.immr}">iMMR</th>
				<th th:text="#{th.icsr}">CSR</th>
				<th th:text="#{th.iadr}">ADR</th>
				<th th:text="#{th.ilbwr}">iLBWR</th>
				<th th:text="#{th.iptbr}">iPTBR</th>
				<th th:text="#{th.ndrwk1}">NDRwk1</th>
				<th th:text="#{th.tmd}">TMD</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${items}">
			<tr th:each="item : ${items}" style="font-size: 20px;">
				<td>[[${item.wmdesc}]]-[[${item.wyear}]]</td>
				<td>[[${item.isbr}]]</td>
				<td>[[${item.iisbr}]]</td>
				<td>[[${item.aisbr}]]</td>
				<td>[[${item.piisbr}]]</td>
				<td>[[${item.einmr}]]</td>
				<td>[[${item.ipmr}]]</td>
				<td>[[${item.inmr}]]</td>
				<td>[[${item.immr}]]</td>
				<td>[[${item.icsr}]]</td>
				<td>[[${item.iadr}]]</td>
				<td>[[${item.ilbwr}]]</td>
				<td>[[${item.iptbr}]]</td>
				<td>[[${item.indwk1}]]</td>
				<td>[[${item.mdeath}]]</td>
				<td>[[${#numbers.formatDecimal(item.isbr, 1, 'COMMA', 1, 'POINT')}]]</td>
				<td>[[${#numbers.formatDecimal(item.iisbr, 1, 'COMMA', 1, 'POINT')}]]</td>
				<td>[[${#numbers.formatDecimal(item.aisbr, 1, 'COMMA', 1, 'POINT')}]]</td>
				<td>[[${#numbers.formatDecimal(item.piisbr, 1, 'COMMA', 1, 'POINT')}]]%</td>
				<td>[[${#numbers.formatDecimal(item.einmr, 1, 'COMMA', 1, 'POINT')}]]</td>
				<td>[[${#numbers.formatDecimal(item.ipmr, 1, 'COMMA', 1, 'POINT')}]]</td>
				<td>[[${#numbers.formatDecimal(item.inmr, 1, 'COMMA', 1, 'POINT')}]]</td>
				<td>[[${#numbers.formatDecimal(item.immr, 1, 'COMMA', 1, 'POINT')}]]</td>
				<td>[[${#numbers.formatDecimal(item.icsr, 1, 'COMMA', 1, 'POINT')}]]%</td>
				<td>[[${#numbers.formatDecimal(item.iadr, 1, 'COMMA', 1, 'POINT')}]]%</td>
				<td>[[${#numbers.formatDecimal(item.ilbwr, 1, 'COMMA', 1, 'POINT')}]]%</td>
				<td>[[${#numbers.formatDecimal(item.iptbr, 1, 'COMMA', 1, 'POINT')}]]%</td>
				<td>[[${#numbers.formatDecimal(item.indwk1, 1, 'COMMA', 1, 'POINT')}]]%</td>
				<td>[[${#numbers.formatDecimal(item.mdeath, 1, 'COMMA', 0, 'POINT')}]]</td>
			</tr>
		</tbody>
	</table>

</div>