<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

	<title>PDRSv2</title>
	<base href="/">
	<!-- common links -->
	<link rel="stylesheet" href="css/fontawesome-free/css/all.min.css" />
	<link rel="stylesheet" href="webjars/bootstrap/5.1.3/css/bootstrap.min.css" />

	<style>
		body {
			background-color: rgb(57, 106, 147);
		}

		.btn-primary {
			background-color: rgb(50, 94, 129);
			border-color: rgb(50, 94, 129);
		}

		.btn-primary:hover {
			background-color: rgb(33, 63, 86) !important;
			border-color: rgb(33, 63, 86) !important;
		}
	</style>

</head>

<body class="ms-5 me-5 mb-5 mt-2">
	<div th:insert="fragments/current-user"></div>
	<div class="row mb-3">
		<div class="text-end p-2 rounded mb-1" style="background-color: rgb(207, 226, 255);">
			<span th:unless="${national} or ${regional} or ${district}">
				<a sec:authorize="hasRole('ENTRY')" class="btn btn-sm btn-danger" href="#" th:href="@{/registry}"
					th:text="#{case.entry}"> </a>
				<a sec:authorize="hasAnyRole('AUDIT', 'TASKS')" class="btn btn-sm btn-warning" href="#"
					th:href="@{/auditing}" th:text="#{case.audit}"></a>
				<a sec:authorize="hasRole('VIEWS')" class="btn btn-sm btn-success" href="#" th:href="@{/reporting}"
					th:text="#{case.analysis}"></a>
				<a sec:authorize="hasRole('SETUP')" class="btn btn-sm btn-dark" href="#" th:href="@{/controls}"
					th:utext="#{controls}"></a>
			</span>
			<div th:if="${activated}" class="mt-2 alert alert-danger">
				<h4>Not Activated</h4>
				<p>[[#{activate.alert}]] <a href="#" th:href="@{/controls}" th:utext="#{controls}"></a></p>
			</div>
			<div class="float-start rounded mb-1" th:unless="${activated}">
				<a sec:authorize="hasRole('NATIONAL')" class="btn btn-sm btn-primary" th:classappend="${national}"
					href="#" th:href="@{/national}" th:text="#{button.national}"> </a>
				<a sec:authorize="hasRole('REGIONAL')" class="btn btn-sm btn-primary" th:classappend="${regional}"
					href="#" th:href="@{/regional}" th:text="#{button.regional}"></a>
				<a sec:authorize="hasRole('DISTRICT')" class="btn btn-sm btn-primary" th:classappend="${district}"
					href="#" th:href="@{/district}" th:text="#{button.district}"></a>
				<a class="btn btn-sm btn-primary" href="#" th:href="@{/}" th:utext="#{button.facility}"
					th:if="${national} or ${regional} or ${district}"></a>
			</div>
			<div class="float-end mb-1" th:unless="${activated}" sec:authorize="hasRole('NATIONAL')"
				th:if="${national}">
				<a class="btn btn-sm btn-outline-primary" th:classappend="${page}?'':'active'" href="#"
					th:href="@{/national}" th:text="#{button.summary}"> </a>
				<a class="btn btn-sm btn-outline-primary" th:classappend="${page}?'active':''" href="#"
					th:href="@{/national/search}" th:text="#{button.details}"></a>
			</div>
			<div class="float-end mb-1" th:unless="${activated}" sec:authorize="hasRole('REGIONAL')"
				th:if="${regional}">
				<a class="btn btn-sm btn-outline-primary" th:classappend="${page}?'':'active'" href="#"
					th:href="@{/regional}" th:text="#{button.summary}"> </a>
				<a class="btn btn-sm btn-outline-primary" th:classappend="${page}?'active':''" href="#"
					th:href="@{/regional/search}" th:text="#{button.details}"></a>
			</div>
			<div class="float-end mb-1" th:unless="${activated}" sec:authorize="hasRole('DISTRICT')"
				th:if="${district}">
				<a class="btn btn-sm btn-outline-primary" th:classappend="${page}?'':'active'" href="#"
					th:href="@{/district}" th:text="#{button.summary}"> </a>
				<a class="btn btn-sm btn-outline-primary" th:classappend="${page}?'active':''" href="#"
					th:href="@{/district/search}" th:text="#{button.details}"></a>
			</div>
		</div>
	</div>
	<div th:if="${page}">
		<div th:if="${national}" th:insert="fragments/home-national"></div>
		<div th:if="${regional}" th:insert="fragments/home-regional"></div>
		<div th:if="${district}" th:insert="fragments/home-district"></div>
	</div>
	<div th:unless="${page}">
		<div class="row" th:unless="${activated}">
			<div class="col-md-6 mb-3">
				<img class="mb-3 border border-info" id="logo" src="img/logo.JPG" height="230" width="100%"
					style="border-radius: 5px;">
				<div class="row">
					<div class="col-md-6">
						<div class="card text-white" style="background-color: rgb(49, 92, 128);">
							<div class="card-header border-bottom">[[#{fp.totals}]]</div>
							<div class="card-body">
								<table class="table table-sm table-responsive text-end text-white">
									<thead class="small">
										<tr class="">
											<th style="width: 50%;">&nbsp;</th>
											<th class="" th:text="#{fp.numbers}"></th>
											<th class="" th:text="#{fp.rates}"></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td th:text="#{label.totalbirths}"></td>
											<td>[[${oavg.totalbirths}]]</td>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td th:text="#{label.totallivebirths}"></td>
											<td>[[${oavg.totallivebirths}]]</td>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td th:text="#{label.totalperinatals}"></td>
											<td>[[${oavg.totalperinatals}]]</td>
											<td>[[${oavg.ipmr_oavg}]]</td>
										</tr>
										<tr>
											<td th:text="#{label.totalneonataldeaths}"></td>
											<td>[[${oavg.totalneonatals}]]</td>
											<td>[[${oavg.inmr_oavg}]]</td>
										</tr>
										<tr>
											<td th:text="#{label.totalstillbirths}"></td>
											<td>[[${oavg.totalstillbirths}]]</td>
											<td>[[${oavg.isbr_oavg}]]</td>
										</tr>
										<tr>
											<td th:text="#{label.totalmaternaldeaths}"></td>
											<td>[[${oavg.mdeath_osum}]]</td>
											<td>[[${oavg.immr_oavg}]]</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card text-white" style="background-color: rgb(49, 92, 128);">
							<div class="card-header border-bottom">[[#{fp.current}+' - '+${cyear}]]</div>
							<div class="card-body">
								<table class="table table-sm table-responsive text-end text-white">
									<thead class="small">
										<tr class="">
											<th style="width: 50%;">&nbsp;</th>
											<th class="" th:text="#{fp.numbers}"></th>
											<th class="" th:text="#{fp.rates}"></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td th:text="#{label.totalbirths}"></td>
											<td>[[${cavg.totalbirths}]]</td>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td th:text="#{label.totallivebirths}"></td>
											<td>[[${cavg.totallivebirths}]]</td>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td th:text="#{label.totalperinatals}"></td>
											<td>[[${cavg.totalperinatals}]]</td>
											<td class="text-white">[[${#numbers.formatDecimal(cavg.ipmr_oavg,
												1, 'COMMA', 1, 'POINT')}]]</td>
										</tr>
										<tr>
											<td th:text="#{label.totalneonataldeaths}"></td>
											<td>[[${cavg.totalneonatals}]]</td>
											<td class=" text-white">[[${#numbers.formatDecimal(cavg.inmr_oavg,
												1, 'COMMA', 1, 'POINT')}]]</td>
										</tr>
										<tr>
											<td th:text="#{label.totalstillbirths}"></td>
											<td>[[${cavg.totalstillbirths}]]</td>
											<td class="text-white">[[${#numbers.formatDecimal(cavg.isbr_oavg,
												1, 'COMMA', 1, 'POINT')}]]</td>
										</tr>
										<tr>
											<td th:text="#{label.totalmaternaldeaths}"></td>
											<td>[[${cavg.mdeath_osum}]]</td>
											<td class="text-white">[[${#numbers.formatDecimal(cavg.immr_oavg,
												1, 'COMMA', 1, 'POINT')}]]</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="col-md-2 mb-3">
				<div class="row mb-3 pe-2">
					<div class="card text-dark bg-info">
						<div class="card-header small text-black bg-info fw-bold" style="font-size: 15px;">[[${cyear}]]
							Recommendations
						</div>
					</div>
					<div class="card-footer bg-white" style="font-size: 16px;">
						<div class="row">
							<div class="col-8">
								<small class="text-black">[[#{fp.overall}]]</small>
							</div>
							<div class="col-4 fw-bold text-end">
								[[${atotal_actions}]]
							</div>
						</div>
					</div>
					<div class="card-footer bg-success" style="font-size: 16px;">
						<div class="row">
							<div class="col-8">
								<small
									class="text-white">[[#{fp.overall.completed}]]&nbsp;[[${#numbers.formatDecimal(acompleted_actions_r,
									1, 'COMMA', 1, 'POINT')}]]%</small>
							</div>
							<div class="col-4 fw-bold text-end">
								[[${acompleted_actions}]]
							</div>
						</div>
					</div>
					<div class="card-footer bg-warning" style="font-size: 16px;">
						<div class="row">
							<div class="col-8">
								<small
									class="text-white">[[#{fp.overall.pending}]]&nbsp;[[${#numbers.formatDecimal(apending_actions_r,
									1, 'COMMA', 1, 'POINT')}]]%</small>
							</div>
							<div class="col-4 fw-bold text-end">
								[[${apending_actions}]]
							</div>
						</div>
					</div>
					<div class="card-footer bg-danger" style="font-size: 16px;">
						<div class="row">
							<div class="col-8">
								<small
									class="text-white">[[#{fp.overall.overdue}]]&nbsp;[[${#numbers.formatDecimal(aoverdue_actions_r,
									1, 'COMMA', 1, 'POINT')}]]%</small>
							</div>
							<div class="col-4 fw-bold text-end">
								[[${aoverdue_actions}]]
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-3 pe-2">
					<table class="table table-responsive table-light" style="font-size: 16px;">
						<thead class="">
							<tr class="table-info">
								<th colspan="2" class="text-center">
									[[#{fp.recommendations}]]
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td th:text="#{fp.overall}"></td>
								<td class="text-end fw-bold">[[${ctotal_actions}]]</td>
							</tr>
							<tr class="table-success">
								<td>[[#{fp.overall.completed}]]&nbsp;[[${#numbers.formatDecimal(ccompleted_actions_r,
									1, 'COMMA', 1, 'POINT')}]]%</td>
								<td class="text-end fw-bold">[[${ccompleted_actions}]]</td>
							</tr>
							<tr class="table-warning">
								<td>[[#{fp.overall.pending}]]&nbsp;[[${#numbers.formatDecimal(cpending_actions_r,
									1, 'COMMA', 1, 'POINT')}]]%</td>
								<td class="text-end fw-bold">[[${cpending_actions}]]</td>
							</tr>
							<tr class="table-danger">
								<td>[[#{fp.overall.overdue}]]&nbsp;[[${#numbers.formatDecimal(coverdue_actions_r,
									1, 'COMMA', 1, 'POINT')}]]%</td>
								<td class="text-end fw-bold">[[${coverdue_actions}]]</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-4 mb-3">
				<div class="row">
					<table class="table table-sm table-responsive text-white mb-3">
						<thead class="table-primary small">
							<tr class="small">
								<th style="width: 50%;" th:text="#{fp.totals}">&nbsp;</th>
								<th class="" th:text="#{fp.stillbirths}"></th>
								<th class="" th:text="#{fp.neodeaths}"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td th:text="#{fp.cases.entered}"></td>
								<td class="fw-bold">[[${entered_sb}]]</td>
								<td class="fw-bold">[[${entered_nd}]]</td>
							</tr>
							<tr>
								<td th:text="#{fp.cases.submitted}"></td>
								<td class="fw-bold">[[${submitted_sbn}]]&nbsp;<span
										class="small fw-normal">([[${#numbers.formatDecimal(submitted_sbp, 1,
										'COMMA', 1,
										'POINT')}]]%)</span></td>
								<td class="fw-bold">[[${submitted_ndn}]]&nbsp;<span
										class="small fw-normal">([[${#numbers.formatDecimal(submitted_ndp, 1,
										'COMMA', 1,
										'POINT')}]]%)</span></td>
							</tr>

							<tr>
								<td th:text="#{fp.cases.selected}"></td>
								<td class="fw-bold">[[${selected_sb}]]</td>
								<td class="fw-bold">[[${selected_nd}]]</td>
							</tr>
							<tr>
								<td th:text="#{fp.cases.reviewed}"></td>
								<td class="fw-bold">[[${reviewed_sbn}]]&nbsp;<span
										class="small fw-normal">([[${#numbers.formatDecimal(reviewed_sbp, 1, 'COMMA',
										1,
										'POINT')}]]%)</span></td>
								<td class="fw-bold">[[${reviewed_ndn}]]&nbsp;<span
										class="small fw-normal">([[${#numbers.formatDecimal(reviewed_ndp, 1, 'COMMA',
										1,
										'POINT')}]]%)</span></td>

							</tr>
						</tbody>
					</table>
					<table class="table table-sm table-responsive text-white">
						<thead class="table-primary small">
							<tr class="small">
								<th style="width: 50%;" th:text="#{fp.current}+' - '+${cyear}">&nbsp;</th>
								<th class="" th:text="#{fp.stillbirths}"></th>
								<th class="" th:text="#{fp.neodeaths}"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td th:text="#{fp.cases.entered}"></td>
								<td class="fw-bold">[[${c_entered_sb}]]</td>
								<td class="fw-bold">[[${c_entered_nd}]]</td>
							</tr>
							<tr>
								<td th:text="#{fp.cases.submitted}"></td>
								<td class="fw-bold">[[${c_submitted_sbn}]]&nbsp;<span
										class="text-warning small fw-normal">([[${#numbers.formatDecimal(c_submitted_sbp,
										1,
										'COMMA', 1,
										'POINT')}]]%)</span></td>
								<td class="fw-bold">[[${c_submitted_ndn}]]&nbsp;<span
										class="text-warning small fw-normal">([[${#numbers.formatDecimal(c_submitted_ndp,
										1,
										'COMMA', 1,
										'POINT')}]]%)</span></td>
							</tr>

							<tr>
								<td th:text="#{fp.cases.selected}"></td>
								<td class="fw-bold">[[${selected_sb}]]</td>
								<td class="fw-bold">[[${selected_nd}]]</td>
							</tr>
							<tr>
								<td th:text="#{fp.cases.reviewed}"></td>
								<td class="fw-bold">[[${reviewed_sbn}]]&nbsp;<span
										class="text-warning small fw-normal">([[${#numbers.formatDecimal(reviewed_sbp,
										1,
										'COMMA', 1,
										'POINT')}]]%)</span></td>
								<td class="fw-bold">[[${reviewed_ndn}]]&nbsp;<span
										class="text-warning small fw-normal">([[${#numbers.formatDecimal(reviewed_ndp,
										1,
										'COMMA', 1,
										'POINT')}]]%)</span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<button class="btn btn-info small mb-3" type="button" data-bs-toggle="offcanvas"
						data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">[[#{fp.topneonatalpm}]]</button>
					<button class="btn btn-info small" type="button" data-bs-toggle="offcanvas"
						data-bs-target="#offcanvasRight1"
						aria-controls="offcanvasRight">[[#{fp.topstillbirthpm}]]</button>
					<div>
						<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
							aria-labelledby="offcanvasRightLabel">
							<div class="offcanvas-header">
								<h5 id="offcanvasRightLabel"><span class="text-danger">Top 5 causes of Neonatal
										Deaths</span></h5>
								<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
									aria-label="Close"></button>
							</div>
							<div class="offcanvas-body">
								<div class="mb-5" th:if="${top_cneonatal}">
									<h6 class="text-danger">Year [[${cyear}]]</h6>
									<ul class="list-group">
										<li class="list-group-item d-flex justify-content-between align-items-center"
											th:each="item : ${top_cneonatal}">
											<span><b class="text-danger">[[${item.pm_code}]]</b>:
												[[${item.pm_desc}]]</span>
											<span class="badge bg-danger rounded-pill">[[${item.pm_tsum}]]</span>
										</li>
									</ul>
								</div>
								<div th:if="${top_oneonatal}">
									<h6 class="text-muted">Overall</h6>
									<ul class="list-group">
										<li class="list-group-item d-flex justify-content-between align-items-center"
											th:each="item : ${top_oneonatal}">
											<span><b class="text-muted">[[${item.pm_code}]]</b>:
												[[${item.pm_desc}]]</span>
											<span class="badge bg-dark rounded-pill">[[${item.pm_tsum}]]</span>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight1"
							aria-labelledby="offcanvasRightLabel">
							<div class="offcanvas-header">
								<h5 id="offcanvasRightLabel"><span class="text-dark">Top 5 causes of Stillbirths</span>
								</h5>
								<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
									aria-label="Close"></button>
							</div>
							<div class="offcanvas-body">
								<div class="mb-5" th:if="${top_cstillbirth}">
									<h6 class="text-danger">Year [[${cyear}]]</h6>
									<ul class="list-group">
										<li class="list-group-item d-flex justify-content-between align-items-center"
											th:each="item : ${top_cstillbirth}">
											<span><b class="text-danger">[[${item.pm_code}]]</b>:
												[[${item.pm_desc}]]</span>
											<span class="badge bg-danger rounded-pill">[[${item.pm_tsum}]]</span>
										</li>
									</ul>
								</div>
								<div th:if="${top_ostillbirth}">
									<h6 class="text-secondary">Overall</h6>
									<ul class="list-group">
										<li class="list-group-item d-flex justify-content-between align-items-center"
											th:each="item : ${top_ostillbirth}">
											<span><b class="text-muted">[[${item.pm_code}]]</b>:
												[[${item.pm_desc}]]</span>
											<span class="badge bg-dark rounded-pill">[[${item.pm_tsum}]]</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<footer class="text-light text-center">
		<div th:utext="#{app.version}"></div>
		<script src="webjars/jquery/3.6.0/jquery.min.js"></script>
		<script src="webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
	</footer>

</body>

</html>