<!DOCTYPE html>
<html th:replace="~{layout/reporting :: layout(_,~{::links},~{::scripts},~{::content},~{::subnav})}">

<links>
	<style>
		.chart-container {
			position: relative;
			margin: auto;
			height: 80vh;
			width: 80vw;
		}
	</style>
</links>

<subnav>
	<div class="m-1 small"></div>
</subnav>

<content>
	<hr />
	<form action="#" th:action="@{/reporting/search}" th:object="${selected}" method="POST" class="needs-validation"
		novalidate>
		<div class="row py-2 mb-3 bg-dark text-white rounded">
			<div class="col-md-4 mb-2">
				<div class="row">
					<label class="col-auto col-form-label fw-bold" th:text="#{search.start}"></label>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-6">
								<select class="form-control fw-bold" th:field="*{wm_startyear}" required>
									<option th:each="option : ${wmyear_options}" th:value="${option.key}"
										th:text="${option.value}">
									</option>
								</select>
							</div>
							<div class="col-md-6">
								<select class="form-control fw-bold" th:field="*{wm_startmonth}" required>
									<option th:each="option : ${wmmonth_options}" th:value="${option.key}"
										th:text="${option.value}">
									</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-2">
				<div class="row">
					<label class="col-auto col-form-label fw-bold" th:text="#{search.end}"></label>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-6">
								<select class="form-control fw-bold" th:field="*{wm_endyear}" required>
									<option th:each="option : ${wmyear_options}" th:value="${option.key}"
										th:text="${option.value}">
									</option>
								</select>
							</div>
							<div class="col-md-6">
								<select class="form-control fw-bold" th:field="*{wm_endmonth}" required>
									<option th:each="option : ${wmmonth_options}" th:value="${option.key}"
										th:text="${option.value}">
									</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 d-grid gap-2 mb-2">
				<div class="">
					<div class="btn-group">
						<button class="btn btn-primary" type="submit" th:utext="#{search.button}"></button>
					</div>
					<div class="btn-group">
						<a class="btn btn-secondary" href="#" th:href="@{/reporting/search}"
							th:utext="#{clear.button}"></a>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="row" th:unless="${#lists.isEmpty(items)}">
		<div class="row bg-light rounded mb-3 py-1 mx-auto border">
			<small class="col-md-3">
				<span class="badge bg-info text-dark">[[#{th.isbr}]]</span>
				[[#{label.isbr}]]&nbsp;&nbsp;
			</small>
			<small class="col-md-3">
				<span class="badge bg-info text-dark">[[#{th.iisbr}]]</span>
				[[#{label.iisbr}]]&nbsp;&nbsp;
			</small>
			<small class="col-md-3">
				<span class="badge bg-info text-dark">[[#{th.aisbr}]]</span>
				[[#{label.aisbr}]]&nbsp;&nbsp;
			</small>
			<small class="col-md-3">
				<span class="badge bg-info text-dark">[[#{th.piisbr}]]</span>
				[[#{label.piisbr}]]&nbsp;&nbsp;
			</small>
			<small class="col-md-3">
				<span class="badge bg-info text-dark">[[#{th.einmr}]]</span>
				[[#{label.einmr}]]&nbsp;&nbsp;
			</small>
			<small class="col-md-3">
				<span class="badge bg-info text-dark">[[#{th.ipmr}]]</span>
				[[#{label.ipmr}]]&nbsp;&nbsp;
			</small>
			<small class="col-md-3">
				<span class="badge bg-info text-dark">[[#{th.inmr}]]</span>
				[[#{label.inmr}]]&nbsp;&nbsp;
			</small>
			<small class="col-md-3">
				<span class="badge bg-info text-dark">[[#{th.immr}]]</span>
				[[#{label.immr}]]&nbsp;&nbsp;
			</small>
			<small class="col-md-3">
				<span class="badge bg-info text-dark">[[#{th.icsr}]]</span>
				[[#{label.icsr}]]&nbsp;&nbsp;
			</small>
			<small class="col-md-3">
				<span class="badge bg-info text-dark">[[#{th.iadr}]]</span>
				[[#{label.iadr}]]&nbsp;&nbsp;
			</small>
			<small class="col-md-3">
				<span class="badge bg-info text-dark">[[#{th.ilbwr}]]</span>
				[[#{label.ilbwr}]]&nbsp;&nbsp;
			</small>
			<small class="col-md-3">
				<span class="badge bg-info text-dark">[[#{th.iptbr}]]</span>
				[[#{label.iptbr}]]&nbsp;&nbsp;
			</small>
			<small class="col-md-3">
				<span class="badge bg-info text-dark">[[#{th.ndrwk1}]]</span>
				[[#{label.ndrwk1}]]&nbsp;&nbsp;
			</small>
			<small class="col-md-3">
				<span class="badge bg-info text-dark">[[#{th.tmd}]]</span>
				[[#{label.tmd}]]&nbsp;&nbsp;
			</small>
		</div>
		<div class="nav nav-pills mb-0 border-bottom" id="v-pills-tab" role="tablist" aria-orientation="horizontal">

			<button class="nav-link active fw-bold" id="v-pills-tableview1-tab" data-bs-toggle="pill"
				data-bs-target="#v-pills-tableview1" type="button" role="tab" aria-controls="v-pills-tableview1"
				aria-selected="true">[[#{tab.tableview1}]]</button>

			<button class="nav-link fw-bold" id="v-pills-tableview2-tab" data-bs-toggle="pill"
				data-bs-target="#v-pills-tableview2" type="button" role="tab" aria-controls="v-pills-tableview2"
				aria-selected="false">[[#{tab.tableview2}]]</button>

			<button class="nav-link fw-bold" id="v-pills-neodeaths-tab" data-bs-toggle="pill"
				data-bs-target="#v-pills-neodeaths" type="button" role="tab" aria-controls="v-pills-neodeaths"
				aria-selected="false">[[#{tab.neodeaths}]]</button>

			<button class="nav-link fw-bold" id="v-pills-perideaths-tab" data-bs-toggle="pill"
				data-bs-target="#v-pills-perideaths" type="button" role="tab" aria-controls="v-pills-perideaths"
				aria-selected="false">[[#{tab.perideaths}]]</button>

			<button class="nav-link fw-bold" id="v-pills-stillbirths-tab" data-bs-toggle="pill"
				data-bs-target="#v-pills-stillbirths" type="button" role="tab" aria-controls="v-pills-stillbirths"
				aria-selected="false">[[#{tab.stillbirths}]]</button>

			<button class="nav-link fw-bold" id="v-pills-prelow-tab" data-bs-toggle="pill"
				data-bs-target="#v-pills-prelow" type="button" role="tab" aria-controls="v-pills-prelow"
				aria-selected="false">[(#{tab.prelow})]</button>

			<button class="nav-link fw-bold" id="v-pills-delivstat-tab" data-bs-toggle="pill"
				data-bs-target="#v-pills-delivstat" type="button" role="tab" aria-controls="v-pills-delivstat"
				aria-selected="false">[[#{tab.delivstat}]]</button>

			<button class="nav-link fw-bold" id="v-pills-mdeath-tab" data-bs-toggle="pill"
				data-bs-target="#v-pills-mdeath" type="button" role="tab" aria-controls="v-pills-mdeath"
				aria-selected="false">[[#{tab.matdeaths}]]</button>

		</div>
		<div class="tab-content" id="v-pills-tabContent">
			<div class="tab-pane fade show active" id="v-pills-tableview1" role="tabpanel"
				aria-labelledby="v-pills-tableview2-tab">
				<div th:insert="fragments/report-tables :: table_view1"></div>
			</div>
			<div class="tab-pane fade" id="v-pills-tableview2" role="tabpanel" aria-labelledby="v-pills-tableview2-tab">
				<div class="overflow-auto" th:insert="fragments/report-tables :: table_view2"></div>
			</div>
			<div class="tab-pane fade" id="v-pills-perideaths" role="tabpanel" aria-labelledby="v-pills-perideaths-tab">
				<div class="row">
					<div class="col-md-6">
						<canvas id="ipmrChart" height="200"></canvas>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="v-pills-neodeaths" role="tabpanel" aria-labelledby="v-pills-neodeaths-tab">
				<div class="row">
					<div class="col-md-6">
						<canvas id="inmrChart" width="400" height="200"></canvas>
					</div>
					<div class="col-md-6">
						<canvas id="indwk1Chart" width="400" height="200"></canvas>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="v-pills-stillbirths" role="tabpanel"
				aria-labelledby="v-pills-stillbirths-tab">
				<div class="row">
					<div class="col-md-6">
						<canvas id="isbrChart" height="200"></canvas>
					</div>
					<div class="col-md-6">
						<canvas id="piisbrChart" height="200"></canvas>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="v-pills-prelow" role="tabpanel" aria-labelledby="v-pills-prelow-tab">
				<div class="row">
					<div class="col-md-6">
						<canvas id="ilbptChart" height="200"></canvas>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="v-pills-delivstat" role="tabpanel" aria-labelledby="v-pills-delivstat-tab">
				<div class="row">
					<div class="col-md-6">
						<canvas id="icdrChart" height="200"></canvas>
					</div>
					<div class="col-md-4">
						<canvas id="icdrPie" width="300" height="200"></canvas>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="v-pills-mdeath" role="tabpanel" aria-labelledby="v-pills-mdeath-tab">
				<div class="row">
					<div class="col-md-6">
						<canvas id="mdeathChart" height="200"></canvas>
					</div>
					<div class="col-md-6">
						<canvas id="immrChart" height="200"></canvas>
					</div>
				</div>
			</div>

		</div>
	</div>
</content>
<scripts>
	<script>
		(function () {
			'use strict';
			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');

				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');

					}, false);
				});
			}, false);
		})();
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.js"></script>


	<script type="text/javascript" th:inline="javascript">


		var xValues = /*[[${yearmonth_array}]]*/ "";
		var yValues1 = /*[[${isbr_array}]]*/ "";
		var yValues2 = /*[[${iisbr_array}]]*/ "";
		var yValues3 = /*[[${aisbr_array}]]*/ "";
		var barColors = ["red", "green", "blue", "orange", "brown"];

		new Chart("isbrChart", {
			type: "bar",
			data: {
				labels: xValues,
				datasets: [
					{
						label: 'Institutional Stillbirth Rates',
						backgroundColor: 'blue',
						data: yValues1
					},
					{
						label: 'Institutional Intrapartum Stillbirth Rates',
						backgroundColor: 'red',
						data: yValues2
					},
					{
						label: 'Institutional Antepartum Stillbirth Rates',
						backgroundColor: 'green',
						data: yValues3
					}
				]
			},
			options: {
				responsive: true,
				plugins: {
					legend: {
						display: true,
						position: 'top',
					},
					title: {
						display: true,
						text: 'Institutional Stillbirth Rates'
					}
				}
			}
		});
	</script>

	<script type="text/javascript" th:inline="javascript">


		var xValues = /*[[${yearmonth_array}]]*/ "";
		var yValues = /*[[${piisbr_array}]]*/ "";
		var barColors = ["red", "green", "blue", "orange", "brown"];

		new Chart("piisbrChart", {
			type: "bar",
			data: {
				labels: xValues,
				datasets: [
					{
						backgroundColor: barColors,
						data: yValues
					}
				]
			},
			options: {
				responsive: true,
				plugins: {
					legend: {
						display: false,
						position: 'top',
					},
					title: {
						display: true,
						text: 'Percentage Institutional Intrapartum Stillbirths'
					}
				}
			}
		});
	</script>

	<script type="text/javascript" th:inline="javascript">


		var xValues = /*[[${yearmonth_array}]]*/ "";
		var yValues = /*[[${ipmr_array}]]*/ "";
		var barColors = ["red", "green", "blue", "orange", "brown"];

		new Chart("ipmrChart", {
			type: "bar",
			data: {
				labels: xValues,
				datasets: [
					{
						backgroundColor: barColors,
						data: yValues
					}
				]
			},
			options: {
				responsive: true,
				plugins: {
					legend: {
						display: false,
						position: 'top',
					},
					title: {
						display: false,
						text: ''
					}
				}
			}
		});
	</script>
	<script type="text/javascript" th:inline="javascript">


		var xValues = /*[[${yearmonth_array}]]*/ "";
		var yValues1 = /*[[${einmr_array}]]*/ "";
		var yValues2 = /*[[${inmr_array}]]*/ "";
		var barColors = ["red", "green", "blue", "orange", "brown"];

		new Chart("inmrChart", {
			type: "bar",
			data: {
				labels: xValues,
				datasets: [
					{
						label: 'Institutional Early Neonatal Mortality Rates',
						backgroundColor: 'blue',
						data: yValues1
					},
					{
						label: 'Institutional Neonatal Mortality Rates',
						backgroundColor: 'green',
						data: yValues2
					}
				]
			},
			options: {
				responsive: true,
				plugins: {
					legend: {
						display: true,
						position: 'top',
					},
					title: {
						display: true,
						text: 'Trends in institutional early neonatal and overall neonatal deaths'
					}
				}
			}
		});
	</script>

	<script type="text/javascript" th:inline="javascript">


		var xValues = /*[[${yearmonth_array}]]*/ "";
		var yValues = /*[[${indwk1_array}]]*/ "";
		var barColors = ["red", "green", "blue", "orange", "brown"];

		new Chart("indwk1Chart", {
			type: "bar",
			data: {
				labels: xValues,
				datasets: [
					{
						backgroundColor: barColors,
						data: yValues
					}
				]
			},
			options: {
				responsive: true,
				plugins: {
					legend: {
						display: false,
						position: 'top',
					},
					title: {
						display: true,
						text: 'Trends in Institutional Neonatal Deaths in 1st week'
					}
				}
			}
		});
	</script>



	<script type="text/javascript" th:inline="javascript">


		var xValues = /*[[${yearmonth_array}]]*/ "";
		var yValues1 = /*[[${icsr_array}]]*/ "";
		var yValues2 = /*[[${iadr_array}]]*/ "";
		var yValues3 = /*[[${ivdr_array}]]*/ "";
		var barColors = ["red", "green", "blue", "orange", "brown"];

		new Chart("icdrChart", {
			type: "bar",
			data: {
				labels: xValues,
				datasets: [
					{
						label: 'Percentage of Viginal Deliveries',
						backgroundColor: 'Green',
						data: yValues3
					},
					{
						label: 'Percentage of Caesarean Sections',
						backgroundColor: 'Red',
						data: yValues1
					},
					{
						label: 'Percentage of Assisted Deliveries',
						backgroundColor: 'Blue',
						data: yValues2
					}
				]
			},
			options: {
				responsive: true,
				scales: {
					x: {
						stacked: true,
					},
					y: {
						stacked: true
					}
				},
				plugins: {
					legend: {
						display: true,
						position: 'top',
					},
					title: {
						display: true,
						text: 'Delivery Statistics'
					}
				}
			}
		});

		var ytotal1 = /*[[${oavg.icsr_oavg}]]*/ "";
		var ytotal2 = /*[[${oavg.iadr_oavg}]]*/ "";
		var ytotal3 = /*[[${oavg.ivdr_oavg}]]*/ "";
		new Chart("icdrPie", {
			type: "pie",
			data: {
				labels: ['Caesarean Sections', 'Assisted Deliveries', 'Vaginal Deliveries'],
				datasets: [
					{
						label: 'Percentage of Deliveries',
						backgroundColor: ['Red', 'Blue', 'Green'],
						data: [ytotal1, ytotal2, ytotal3]
					}
				]
			},
			options: {
				responsive: true,
				plugins: {
					legend: {
						display: true,
						position: 'top',
					},
					title: {
						display: true,
						text: 'Delivery Statistics'
					}
				}
			}
		});

	</script>


	<script type="text/javascript" th:inline="javascript">

		var xValues = /*[[${yearmonth_array}]]*/ "";
		var yValues1 = /*[[${ilbwr_array}]]*/ "";
		var yValues2 = /*[[${iptbr_array}]]*/ "";
		var barColors = ["red", "green", "blue", "orange", "brown"];

		new Chart("ilbptChart", {
			type: "bar",
			data: {
				labels: xValues,
				datasets: [
					{
						label: 'Low birth Weight',
						backgroundColor: 'blue',
						data: yValues1
					},
					{
						label: 'Perterm Births(less than 37 weeks)',
						backgroundColor: 'green',
						data: yValues2
					}
				]
			},
			options: {
				responsive: true,
				plugins: {
					legend: {
						display: true,
						position: 'top',
					},
					title: {
						display: true,
						text: 'Institutional Preterm Birth (less than 37 weeks) and Low Birthweight Rates'

					}
				}
			}
		});
	</script>


	<script type="text/javascript" th:inline="javascript">

		var xValues = /*[[${yearmonth_array}]]*/ "";
		var yValues = /*[[${immr_array}]]*/ "";
		var barColors = ["red", "green", "blue", "orange", "brown"];

		new Chart("immrChart", {
			type: "bar",
			data: {
				labels: xValues,
				datasets: [
					{
						backgroundColor: barColors,
						data: yValues
					}
				]
			},
			options: {
				responsive: true,
				plugins: {
					legend: {
						display: false,
						position: 'top',
					},
					title: {
						display: false,
						text: ''
					}
				}
			}
		});
	</script>
	<script type="text/javascript" th:inline="javascript">

		var xValues = /*[[${yearmonth_array}]]*/ "";
		var yValues = /*[[${mdeath_array}]]*/ "";
		var barColors = ["red", "green", "blue", "orange", "brown"];

		new Chart("mdeathChart", {
			type: "bar",
			data: {
				labels: xValues,
				datasets: [
					{
						backgroundColor: barColors,
						data: yValues
					}
				]
			},
			options: {
				responsive: true,
				plugins: {
					legend: {
						display: false,
						position: 'top',
					},
					title: {
						display: false,
						text: ''
					}
				}
			}
		});
	</script>

</scripts>

</html>