<!DOCTYPE html>
<html th:replace="~{layout/reporting :: layout(_,~{::links},~{::scripts},~{::content},~{::subnav})}">
<links>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</links>
<subnav>
	<div class="m-1 small"></div>
</subnav>

<content>
	<hr />
	<div class="row">
	
	</div>
</content>
<scripts>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</scripts>

</html>