<!DOCTYPE html>
<html th:replace="~{layout/reporting :: layout(_,~{},_,~{::content},_)}">
<content>
	<div class="row float-end">
		<button class="btn btn-primary" onclick="myPopFunction(this, '/reporting/survey/tool')">New Assessment</button>
	</div>
	<div class="table-responsive mt-3">
		<table class="table table-sm table-bordered">
			<thead>
				<tr>
					<th class="sticky-left" style="width: 30%;" th:text="#{survey_indicators}"></th>
					<th th:each="subitem : ${dataset}" style="width: 10%;">
						<button class="col-12 btn btn-link" th:data-id="${subitem[0]}"
							onclick="myPopFunction(this, '/reporting/survey/tool')">[[${subitem[0]}]]</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item, iterStat : ${indicators}" th:if="${iterStat.index} >= 1 and ${iterStat.index} <= 30">
					<td class="sticky-left" th:text="|${iterStat.index}. ${item}|"></td>
					<td th:each="subitem : ${dataset}" th:text="${subitem[iterStat.index]}"
						th:class="${subitem[iterStat.index]}=='1'?'bg-success':'bg-warning'"></td>
				</tr>
				<tr th:each="item, iterStat : ${indicators}" th:if="${iterStat.index} >= 31">
					<td class="sticky-left text-muted small" th:text="${item}"></td>
					<td th:each="subitem : ${dataset}" th:text="${subitem[iterStat.index]}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
		function myPopFunction(button, url) {
			let params = `popup=true,left=-1000,top=-1000`;
			var id = $(button).attr('data-id');
			if (id != null) {
				window.open(url + '?id=' + id, '_blank', params);
			} else {
				window.open(url, '_blank', params);
			}
		}
	</script>
</content>

</html>