<!DOCTYPE html>
<html th:replace="~{layout/controls :: layout(_,~{},~{::scripts},~{::content},~{})}">


<content>
	<div class="jumbotron mt-4">
		<h1 class="display-4" th:utext="#{sync.title}"></h1>
		<p class="lead" th:text="#{sync.note}"></p>
		<hr class="my-4">
		<form action="#" th:action="@{/controls}" th:object="${selected}" method="POST" class="needs-validation"
			novalidate>

			<div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

			<div class="col-md-4 mb-3" hidden>
				<input type="text" class="form-control form-control-sm me-2" th:field="*{sync_id}" readonly />
			</div>
			<div class="col-md-4 mb-3">
				<div class="helpline small">[[#{sync.code}]]</div>
				<input type="text" class="form-control form-control-sm me-2" th:field="*{sync_code}" required
					th:placeholder="#{sync.code}" />
				<p class="helpline text-danger" th:if="${#fields.hasErrors('sync_code')}" th:text="#{invalid.code}"></p>
			</div>
			<div class="col-md-4 mb-3">
				<div class="helpline small">[[#{sync.name}]]</div>
				<input type="text" class="form-control form-control-sm" th:field="*{sync_name}"
					th:placeholder="#{sync.name}" readonly/>
			</div>
			<div class="col-md-4 mb-3">
				<div class="helpline small">[[#{sync.email}]]</div>
				<input type="email" class="form-control form-control-sm me-2 col-auto" th:field="*{sync_email}"
					th:placeholder="#{sync.email}" required/>
			</div>
			<div class="col-md-4 mb-3">
				<div class="helpline small">[[#{sync.url}]]</div>
				<input class="form-control form-control-sm me-2" th:field="*{sync_url}" th:placeholder="#{sync.url}" />
			</div>
			<hr class="mb-2 bg-primary">
			<div class="">
				<button class="btn btn-sm btn-primary" type="submit" th:utext="#{sync.button}"></button>
				<span class="mb-3">
					<a th:href="@{/controls/datamerge}" class="btn btn-outline-success btn-sm"
						th:utext="#{merger.next.button}"></a>
				</span>
				<span class="mb-3">
					<a th:href="@{/controls/deletecase}" class="btn btn-outline-danger btn-sm"
						th:utext="#{delete.next.button}"></a>
				</span>
			</div>

		</form>
	</div>
</content>
<scripts>
	<script>
		(function () {
			'use strict';
			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');

				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');

					}, false);
				});
			}, false);
		})();
	</script>
</scripts>

</html>