<!DOCTYPE html>
<html
	th:replace="~{layout/controls :: layout(_,~{},~{::scripts},~{::content},~{})}">


<content>
<div class="jumbotron mt-4">
	<h1 class="display-4" th:utext="#{sync.title}"></h1>
	<p class="lead" th:text="#{sync.note}"></p>
	<hr class="my-4">
	<p th:text="#{sync.code.note}"></p>
	<form action="#" th:action="@{/controls}" th:object="${selected}"
		method="POST" class="needs-validation" novalidate>

		<div th:if="${success}" class="alert alert-success"
			th:text="${success}"></div>

		<input th:field="*{sync_id}" hidden /> <input th:field="*{sync_uuid}"
			hidden />
		<div class="col-md-4 mb-3">
			<div class="btn-group">
				<input type="text" class="form-control form-control-sm me-2"
					th:field="*{sync_code}" required th:placeholder="#{sync.code}" />
				<span th:unless="${selected.sync_code}">
					<button class="btn btn-sm btn-outline-primary" type="submit"
						th:utext="#{sync.button.activate}"></button>
				</span>

			</div>

			<p class="helpline text-danger"
				th:if="${#fields.hasErrors('sync_code')}" th:text="#{invalid.code}"></p>
		</div>
		<div class="mb-3" th:if="${selected.sync_uuid}">
			<input type="text" class="form-control form-control-sm"
				th:field="*{sync_name}" readonly />
		</div>

		<hr class="mb-2 bg-primary">
		<div th:if="${selected.sync_code}">
			<button class="btn btn-sm btn-primary" type="submit"
				th:utext="#{sync.button}"></button>
		</div>

	</form>
</div>
</content>
<scripts> <script>
	(function() {
		'use strict';
		window.addEventListener('load', function() {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');

			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
				form.addEventListener('submit', function(event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');

				}, false);
			});
		}, false);
	})();
</script> </scripts>

</html>