<!DOCTYPE html>
<html th:replace="~{layout/controls :: layout(_,~{},~{},~{::content},~{})}">


<content>
	<div class="jumbotron mt-4">
		<h1 class="display-4 text-danger" th:utext="#{merger.download.title}"></h1>
		<p class="lead" th:utext="#{merger.download.note}"></p>
		<hr class="my-4">
		<form action="#" th:action="@{/controls/downloadmerge}" method="POST" class="needs-validation" novalidate>

			<div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

			<button class="btn btn-sm btn-danger" type="submit" th:utext="#{merger.download.button}"></button>
		</form>
	</div>
</content>

</html>