<!DOCTYPE html>
<html
	th:replace="~{layout/controls :: layout(_,~{},~{::scripts},~{::content},~{})}">

<content>
<div
	class="col-md-12 py-3 my-3 mx-auto p-5 rounded box-shadow table-responsive"
	style="background-color: #92c7f2;">
	<form action="#"
		th:action="@{/controls/region/{id}(id=${selected.country_uuid})}"
		th:object="${selected}" method="POST" class="needs-validation"
		novalidate>
		<div th:if="${success}" class="alert alert-success"
			th:text="${success}"></div>

		<input th:field="*{country_uuid}" hidden=true /> <input
			th:field="*{country_name}" hidden=true />
		<div>
			<a class="btn btn-sm btn-dark" th:href="@{/controls/regions}"
				th:utext="#{back.button}"></a>
		</div>
		<table class="table ">
			<thead>
				<tr>
					<th th:text="#{th.setup_country}"></th>
					<th th:text="#{th.setup_region}"></th>
					<th th:text="#{th.setup_district}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item, itemStat : *{regionList}">
					<td>[[${item.country.country_name}]] <input
						th:field="*{regionList[__${itemStat.index}__].country}"
						hidden=true readonly /> <input hidden=true readonly
						th:field="*{regionList[__${itemStat.index}__].region_uuid}" /></td>
					<td><input type="text" class="form-control form-control-sm"
						th:field="*{regionList[__${itemStat.index}__].region_name}"
						required /><span th:unless="${item.region_name}"><a
							class="text-danger" th:if="${add}"
							th:href="@{/controls/region/{id}(id=${selected.country_uuid})}"
							th:text="#{cancel.button}"></a></span></td>
					<td><a th:if="${item.region_name}" class="btn btn-info btn-sm"
						th:href="@{/controls/district/{id}(id=${item.region_uuid})}">
							[[#{th.districts.link}]] <span class="badge bg-primary">
								[[${#lists.size(item.districtList)}]] </span>
					</a></td>
				</tr>
				<tr th:unless="${add}">
					<td></td>
					<td><a class="btn btn-sm btn-success small"
						th:href="@{/controls/region/{id}?add=1(id=${selected.country_uuid})}"
						th:text="#{add.button}"></a></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<div class="mb-4" th:if="${selected.country_uuid}">
			<button class="btn btn-primary" type="submit"
				th:utext="#{save.button}"></button>
		</div>

	</form>
</div>
</content>

<scripts> <script>
	(function() {
		'use strict';
		window.addEventListener('load', function() {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');

			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
				form.addEventListener('submit', function(event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');

				}, false);
			});
		}, false);
	})();
</script> </scripts>

</html>