<!DOCTYPE html>
<html
	th:replace="~{layout/controls :: layout(_,~{},~{::scripts},~{::content},~{})}">

<content>
<div
	class="col-md-12 py-3 my-3 mx-auto p-5 rounded box-shadow table-responsive"
	style="background-color: #92c7f2;">
	<form action="#"
		th:action="@{/controls/facility/{id}(id=${selected.facility_uuid})}"
		th:object="${selected}" method="POST" class="needs-validation"
		novalidate>
		<div th:if="${success}" class="alert alert-success"
			th:text="${success}"></div>

		<input th:field="*{parent}" hidden=true /> 

		<div>
			<a class="btn btn-sm btn-dark"
				th:href="@{/controls/district/{id}(id=${selected.parent.facility_uuid})}"
				th:utext="#{back.button}"></a>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th th:text="#{th.setup_country}"></th>
					<th th:text="#{th.setup_region}"></th>
					<th th:text="#{th.setup_district}"></th>
					<th th:text="#{th.setup_facility}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item, itemStat : *{children}">
					<td>[[${item.parent.parent.parent.facility_name}]] <input
						th:field="*{children[__${itemStat.index}__].parent}"
						hidden=true readonly />
					</td>
					<td>[[${item.district.region.region_name}]] <input hidden=true
						readonly
						th:field="*{children[__${itemStat.index}__].facility_uuid}" /></td>
					<td>[[${item.district.district_name}]]</td>
					<td>
						<div class="row">
							<div class="col-md-4">
								<input type="text" class="form-control form-control-sm"
									th:field="*{children[__${itemStat.index}__].facility_code}"
									required th:placeholder="#{hold.facility.code}"/>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control form-control-sm"
									th:field="*{children[__${itemStat.index}__].facility_name}"
									required  th:placeholder="#{hold.facility.name}"/>
							</div>
						</div>
						<div th:unless="${item.facility_code} and ${item.facility_name}">
							<a class="text-danger" th:if="${add}"
								th:href="@{/controls/facility/{id}(id=${selected.facility_uuid})}"
								th:text="#{cancel.button}"></a>
						</div>
					</td>
				</tr>
				<tr th:unless="${add}">
					<td></td>
					<td></td>
					<td></td>
					<td><a class="btn btn-sm btn-success small"
						th:href="@{/controls/facility/{id}?add=1(id=${selected.facility_uuid})}"
						th:text="#{add.button}"></a></td>
				</tr>
			</tbody>
		</table>
		<div class="mb-4">
			<button class="btn btn-primary" type="submit"
				th:utext="#{save.button}"></button>
		</div>

	</form>
</div>
</content>

<scripts> <script>
	(function() {
		'use strict';
		window.addEventListener('load', function() {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');

			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
				form.addEventListener('submit', function(event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');

				}, false);
			});
		}, false);
	})();
</script> </scripts>

</html>