<!DOCTYPE html>
<html
	th:replace="~{layout/controls :: layout(_,~{},~{::scripts},~{::content},~{})}">

<content>
<div class="col-md-8 py-3 my-3 mx-auto rounded box-shadow bg-light">
	<h4 class="mb-3 text-center text-muted">NEW USER</h4>
	<form action="#"
		th:action="@{/controls/users/{id}/password(id=${selected.user_id})}"
		th:object="${selected}" method="POST" class="needs-validation"
		novalidate>
		<div th:if="${success}" class="alert alert-warning"
			th:text="${success}"></div>

		<div class="mb-3">
			<label for="user_id">Email</label> <input type="email"
				class="form-control" id="user_id" placeholder="your email addres"
				value="" readonly th:field="*{user_id}" />
			<div class="invalid-feedback">A valid email address is required</div>
		</div>
		<div class="mb-3">
			<label for="current_password">Enter Current Password</label> <input
				id="current_password" type="password" class="form-control"
				onChange="onChange()" th:field="*{current_password}" required />
			<div class="invalid-feedback">A valid input is required</div>
			<div th:if="${#fields.hasErrors('current_password')}"
				th:errors="*{current_password}" class="text-danger">Current
				password error</div>
		</div>
		<div class="row">
			<div class="col-md-6 mb-3">
				<label for="user_password">Enter New Password</label> <input
					id="user_password" type="password" class="form-control"
					onChange="onChange()" th:field="*{user_password}" required />
			</div>
			<div class="col-md-6 mb-3">
				<label for="confirm_password">Confirm New Password</label> <input
					id="confirm_password" type="password" class="form-control"
					onChange="onChange()" required />
			</div>
		</div>

		<hr class="mb-4 bg-secondary">
		<div class="">
			<button class="btn btn-primary btn-lg" type="submit"
				th:text="#{button.submit}"></button>
			<a class="btn btn-secondary btn-lg" href="#"
				th:href="@{/controls/users}" th:text="#{button.close}"></a>
		</div>
	</form>
</div>
</content>

<scripts> <script>
	// Example starter JavaScript for disabling form submissions if there are invalid fields
	function onChange() {
		const password = document.querySelector('input[id=user_password]');
		const confirm = document.querySelector('input[id=confirm_password]');
		if (confirm.value === password.value) {
			confirm.setCustomValidity('');
		} else {
			confirm.setCustomValidity('Passwords do not match');
		}
	}

	(function() {
		'use strict';
		window.addEventListener('load', function() {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');

			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
				form.addEventListener('submit', function(event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');

				}, false);
			});
		}, false);
	})();
</script> </scripts>

</html>