<!DOCTYPE html>
<html
	th:replace="~{layout/controls :: layout(_,~{},~{::scripts},~{::content},~{})}">

<content>
<div class="col-md-8 py-3 my-3 mx-auto rounded box-shadow bg-light">
	<h4 class="mb-3 text-center text-muted">[[${selected}]]</h4>
	
</div>
</content>

<scripts> <script>
	// Example starter JavaScript for disabling form submissions if there are invalid fields
	function onChange() {
		const password = document.querySelector('input[id=user_password]');
		const confirm = document.querySelector('input[id=confirm_password]');
		if (confirm.value === password.value) {
			confirm.setCustomValidity('');
		} else {
			confirm.setCustomValidity('Passwords do not match');
		}
	}

	(function() {
		'use strict';
		window.addEventListener('load', function() {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');

			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
				form.addEventListener('submit', function(event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');

				}, false);
			});
		}, false);
	})();
</script> </scripts>

</html>