<!DOCTYPE html>
<html
	th:replace="~{layout/controls :: layout(_,~{},~{},~{::content},~{::subnav})}">

<subnav>
<div class="m-1 small">
	&nbsp; <a class="btn btn-sm btn-success" href="#"
		th:href="@{/controls/users/add}">NEW USER</a>
</div>
</subnav>

<content>
<div class="table-responsive bg-light">
	<table
		class="table table-hover table-bordered table-sm table-responsive-sm small">
		<thead>
			<tr class="thead-dark">
				<th class="sticky-top">User ID</th>
				<th class="sticky-top">Name</th>
				<th class="sticky-top">Status</th>
				<th class="sticky-top">Role</th>
				<th class="sticky-top">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${items}">
				<td><a href="#"
					th:href="@{/controls/users/{id}(id=${item.user_id})}"> <strong
						class="text-gray-dark" th:text="${item.user_id}">user id</strong>
				</a></td>
				<td th:text="${item.user_name}">NAME</td>
				<td
					th:attrappend="class=${item.user_enabled}==true? text-success: text-muted">
					<strong th:text="${item.user_enabled}==true? 'ENABLED': 'DISABLED'"></strong>
				</td>
				<td th:text="${item.user_role}">role</td>
				<td><a href="#"
					th:href="@{/controls/users/{id}(id=${item.user_id})}"> <strong
						class="text-gray-dark" th:text="|Edit details|"></strong>
				</a> &verbar; <a href="#"
					th:href="@{/controls/users/{id}/password(id=${item.user_id})}">
						<strong th:text="|Change password|"></strong>
				</a></td>

			</tr>
		</tbody>
	</table>
</div>
</content>

</html>